[2014-08-13 22:19] mbentley opened #2 "Backend not removing when using 'docker stop' on a container"
I am starting a container like this:
`docker run -i -t -d -p 80 -h test1.docker1.mbentley.net --name test1  mbentley/ubuntu-nginx`

I can see it adds to the haproxy config and serves.  Then I stop it:
`docker stop test1`

I can see in haproxy that haproxy itself detects that the backend is down but it doesn't trigger a re-read and reload of haproxy as expected.

Starting the same container back up

[2014-08-14 01:25] #2 closed, assigned to nobody

[2014-09-22 20:36] Evlos opened #3 ""No server is available to handle this request""
Hi,

I have filled "foo" at hostname field and "aoi.im" at domain field when creating the container. (I have also tried to put "foo.aoi.im" at domain field and left hostname field blank.) I added an A record with hostname "foo" and IP "127.0.0.1" on domain "aoi.im". I can access the website inside the container by "127.0.0.1:[container-port]" and "foo.aoi.im:[container-port]". But I saw "No server

[2014-09-22 21:02] #3 closed, assigned to nobody

[2014-09-23 11:11] Evlos opened #5 "cnt.Engine.Addr = unix:///docker.sock"
Hi ehazlett,

I found it's still not working when deployed on production environment. And I investigated as more as I can, I found proxy.conf inside the interlock container has missed some arguments.

[code]

It seems the `host` value from the controller is empty, according to

[code]

And

[code]

I think `cnt.Engine.Addr` should be `unix:///docker.sock` in this situation and it is not accepted f

[2014-09-24 14:07] #5 closed, assigned to nobody

[2014-09-27 18:20] ehazlett opened #6 "large number of containers cause denial of service"
When starting or stopping a large number of instances, HAProxy will be continuously HUPd to be updated causing service interruption.

[2014-10-10 16:55] bangroot opened #7 "How do I replace an existing host?"
removing the original container and launching another with the same host doesn't appear to work.

[2014-10-25 23:18] JamesStewy opened #8 "Basic tutorial on Shipyard intergration"
Hi. Could you make a simple tutorial for using the Interlock extension image with Shipyard?
What I personally would find most helpful is a tutorial on how to set up a simple website which load balances over two identical docker containers (maybe some variance for the purpose of demonstration).
In other words could you recreate this video (https://www.youtube.com/watch?v=pLX3QF17Sj0) but in the new

[2014-10-28 13:38] #8 closed, assigned to nobody

[2014-10-30 09:35] tombee opened #9 "shipyard extension starts interlock on random engine"
If interlock starts on a random engine each time, this makes DNS configuration tricky!

[2014-11-17 11:15] tombee opened #12 "Supporting multiple ports"
I'd like to run the official Jenkins docker image: https://registry.hub.docker.com/_/jenkins/

As per the documentation, it needs the following two ports exposed:
 - TCP: 8080 for HTTP
 - UDP: 50000 for jenkins slaves to connect via swarm

Is this a reasonable use case for interlock?

[2015-01-07 18:22] taiman77 opened #14 "Remote ip not resolved correctly after haproxy"
When using interlock and haproxy remote ip cannot be resolved correctly. Example in PHP code
["REMOTE_ADDR"] return proxy IP (example 172.17.42.1)
["HTTP_X_FORWARDED_FOR"] return docker host internal id in my case it is 192.168.1.200
even http heade cannot give correct ["HTTP_X_FORWARDED_FOR"] gives again docker host internal ip 192.168.1.200

Expexted result should be that client real IP is resol

[2015-01-15 11:43] ManMohanVyas opened #15 "How I can do session stickiness with interlock"
How session stickiness work with interlock?? Is it default configured ??
And what about changing the algorithm. I cant see any good documentation on the how to use things.
If you can create one that will be of great use.

I can prepare one. If you can give basic guidline.

Regards,
ManMohan Vyas

[2015-01-15 14:34] ehazlett commented on #15
Interlock uses HAProxy underneath.  We currently do not do anything with
stickiness or the algorithm (feel free to open an issue separately if you
would like to see them).  Interlock is pretty basic as it just writes the
config -- docs are light but cover the features (
https://github.com/ehazlett/interlock#interlock).

On Thu, Jan 15, 2015 at 6:43 AM, ManMohanVyas <notifications@github.com>
wrote

[2015-01-20 01:47] InAnimaTe opened #16 "Unable to reconnect to engine issue"
[code]

Ideally, interlock should continuously try to reconnect to a specified engine if it went down. Also, if one of the engine's is down, this should never stop the container from starting, although, it should probably warn.

[2015-01-23 09:56] #15 closed

[2015-01-23 09:59] ManMohanVyas commented on #15
I have closed this issue. Creating a new issue as a feature request for Algorithm and session request.
Me too is trying to fix it. We can fix it via getting input from enviornment variables. Completely new to "go". Not even able to compile the project. :(  Will try anyways.

Thank you

[2015-01-23 10:02] ManMohanVyas opened #17 "Feature request: To achive session-stickiness in HA Proxy"
We should be able to give a environment variable like -e sticky=true
And HA-Proxy config file should be written accordingly to achieve session-stickiness

[2015-01-23 10:04] ManMohanVyas opened #18 "Feature request: To be able to give HA-Proxy algorithm to select from"

[2015-01-23 10:14] ManMohanVyas commented on #14
From the interlock documentation:

**backend_options: specify a list of additional options for the backend ({"backend_options": ["forceclose", "http-no-delay"]}) -- see http://cbonte.github.io/haproxy-dconv/configuration-1.5.html#4.1 **

Check the related post here
http://serverfault.com/questions/331079/haproxy-and-forwarding-client-ip-address-to-servers

Hope this will help :)

[2015-01-23 13:02] ehazlett commented on #14
Actually I believe this is already fixed. Could you try the latest version
and confirm it's working?  Thanks!

On Friday, January 23, 2015, ManMohanVyas <notifications@github.com> wrote:

[2015-01-28 20:45] ManMohanVyas commented on #18
@ehazlett Do you have any specific approch on this?? Was confused along the mixing of algorithm with session stickiness as the very few of them support session stickiness.
For eg: for the algo we take config as **-algo round-robin**
And for sticky we take -sticky true ; then should we match the **algo** to **sticky** flag to get correct combination or we should leave that intelligence to the user

[2015-01-28 21:11] ManMohanVyas commented on #6
hmm ..the solution can be to gather all the start stop request in/between some particular time span and then make the configuration at once and then do a single reload in that particular time span. any how a queue would be needed for sure.

[2015-02-01 16:57] ehazlett commented on #16
We are moving to use Swarm as the backend.  Auto-reconnect support is added in https://github.com/ehazlett/interlock/commit/58949c19e8df3f497b161c72a3e723c7e78653ee.

Please re-open if needed.  Thanks!

[2015-02-01 16:57] #16 closed

[2015-02-01 16:58] ehazlett commented on #7
We are moving to use Swarm as the backend.  Swarm will manage the nodes and interlock will just work.  Closing.  Thanks for reporting!

[2015-02-01 16:58] #7 closed

[2015-02-01 17:03] ehazlett commented on #12
As HAProxy does not support UDP, this most likely won't happen any time soon.  TCP support is coming (once Swarm support is finished being tested) and is in the branch https://github.com/ehazlett/interlock/tree/tcp-support if you want to test.

Thanks!

[2015-02-01 17:03] #12 closed

[2015-02-01 17:04] ehazlett commented on #14
Closing as this header should be added in the latest version.  Please re-open if needed.

[2015-02-01 17:04] #14 closed

[2015-02-01 17:12] ehazlett commented on #18
Thanks for the feedback!  I think instead of trying to error check the algoritms we will just leave it up to the user.

Refs #17

[2015-02-16 02:23] mbentley opened #22 "Interlock dies if swarm node disappears"
I believe we had discussed this previously but I figured it would be worth tracking that interlock will die if a swarm node goes away, likely due to the error that occurs in swarm:
[code]

I'd expect that the problem is occurring during the `unexpected EOF` error so I'd be led to believe that this is actually an issue with swarm and how it is handing nodes going away.

Interlock handles the swarm

[2015-02-17 15:13] useltmann opened #23 "interlock-extension for shipyard does not work"
hi,

this image does not work when installed as extension via shipyard.
the output of `docker logs <id>` shows

    flag provided but not defined: -shipyard-url

and according to your swarm merge 11 days ago appearently you removed the shipyard config in `config.go`. there are even more files that get rid of shipyard code

[2015-02-17 15:42] ehazlett commented on #23
Correct.  You will need to use the `v1` tag (`ehazlett/interlock:v1`) to use as an extension.  Shipyard is moving its backend to swarm so there will be less customization needed for integration.  I will update the docs.  Thanks!

[2015-02-17 15:42] #23 closed

[2015-02-17 15:43] ehazlett commented on #22
I'm not sure what interlock is choking on but I'll take a look.  Thanks!

[2015-02-28 02:33] wolfgang42 opened #24 "Backend tries connecting to 0.0.0.0:<port>"
I'm trying Interlock on a brand-new CoreOS installation.
[code]
Now I visit `/haproxy?stats`, and it reports the backends for `www_example_com_0` and `foo_com_0` as DOWN. `cat /proxy.conf` in the interlock container reveals the following line:
[code]

For some reason, Interlock is picking up 0.0.0.0 instead of the correct IP address, and I don't know enough about how Docker works to figure out why

[2015-02-28 03:12] ehazlett commented on #24
If you do not use interlock with swarm, you must specify the "proxy-backend-override-address" option as interlock will not be able to parse the IP from the event.  Only with swarm does the remote api have the node ip address.

[2015-02-28 03:12] #24 closed

[2015-03-05 02:14] chromerobv opened #26 "panic: runtime error: index out of range"
this was working fine. now when i try and run it i get the following:

panic: runtime error: index out of range

goroutine 16 [running]:
runtime.panic(0x6f4ee0, 0x8ee83c)
	/usr/local/go/src/pkg/runtime/panic.c:279 +0xf5
main.(*Manager).GenerateProxyConfig(0xc20800ebd0, 0xc208040500, 0x0, 0x0, 0x0)
	/var/lib/jenkins/workspace/interlock/src/github.com/ehazlett/interlock/controller/manager.go:209 +0x

[2015-03-17 15:07] emeasee commented on #26
Same issue for me:

[code]

[2015-03-17 15:28] ehazlett commented on #26
This is fixed in the "plugins" branch which will be merged this week.
Thanks!

On Tue, Mar 17, 2015 at 11:07 AM, Mac Oosthuizen <notifications@github.com>
wrote:

[2015-03-17 15:36] emeasee commented on #26
Awesome, thanks for the good work

[2015-03-17 15:39] ehazlett commented on #26
Thanks!

On Tue, Mar 17, 2015 at 11:36 AM, Mac Oosthuizen <notifications@github.com>
wrote:

[2015-03-20 22:23] ehazlett commented on #18
This is fixed in https://github.com/ehazlett/interlock/commit/8c01696049abc673f55ddb76bb0ef724a1fc662a

[2015-03-20 22:24] ehazlett commented on #9
There is a new way being developed for launching extensions.  We will address there.  Thanks!

[2015-03-20 22:24] #9 closed

[2015-03-20 22:35] ehazlett commented on #26
Plugins branch has been merged.  This should now be fixed.  Thanks!

[2015-03-20 22:35] #26 closed

[2015-03-20 23:15] #18 closed

[2015-03-23 10:16] weiner opened #28 "shipyard extension install fails with "Tag v1 not found in repository ehazlett/interlock""
Hello,

it seams that a resent change on the docker registry publication broke the shipyard extension install:

hier the output of the install.

shipyard cli> shipyard add-extension --url https://raw.githubusercontent.com/shipyard/shipyard-extensions/master/routing/interlock.conf
configuring interlock (https://github.com/ehazlett/interlock for more info)
enter value for container argument -shipyar

[2015-03-23 14:26] mbentley commented on #22
Nice work on the refactor!  Very slick!  In the new version, it looks like it is detecting when swarm is unavailable but it wasn't able to re-establish a connection to :
[code]

In this case, it was stuck until I restarted interlock.

Another time I tried `docker stop swarm; sleep 4; docker start swarm; docker logs -f interlock` and I am seeing an EOF error and interlock never connects back to swa

[2015-03-23 14:56] ehazlett commented on #22
Thanks!  Ok - I'll take a look -- thanks for reporting :)

On Mon, Mar 23, 2015 at 10:26 AM, Matt Bentley <notifications@github.com>
wrote:

[2015-03-24 11:58] ehazlett commented on #28
Thanks for reporting!  I'll take a look.

On Monday, March 23, 2015, weiner <notifications@github.com> wrote:

[2015-03-30 09:22] ashish235 commented on #28
Getting the same error.

[2015-04-11 16:05] mbentley opened #31 "HAProxy not starting until an event occurs"
When using `ehazlett/interlock:0.2.1`, I am seeing behavior where upon starting interlock, it isn't starting haproxy until an event occurs.  I am using `swarm version 0.1.0 (2acbea1)`

[code]

Here is my run command if it might make any difference:

`docker run -d -p 8181:8080 -v /etc/docker:/etc/docker:ro --name interlock-0.2.1 -e HAPROXY_STATS_USER=user -e HAPROXY_STATS_PASSWORD=password ehazlet

[2015-04-11 17:04] ehazlett commented on #31
Thanks!  This is fixed in 05ca24745958d

[2015-04-11 17:04] #31 closed

[2015-04-11 17:11] mbentley opened #32 "HAProxy spawning multiple processes when too many events occur in a row"
When performing a `docker rm -f <container>` and then immediately after doing a `docker run` on a container to replace it (like when doing an app deployment), interlock seems to be not able to keep up with the requests.  As a result, multiple haproxy instances end up running when the remove and create happen 10 times in a row.  In this case, I end up with 4 HAProxy pids running in the container:

[2015-04-11 17:14] ehazlett commented on #32
Thanks!  This looks to be caused by the event stream firing faster than haproxy can restart causing multiple processes.  Digging.

[2015-04-12 04:30] ehazlett commented on #32
This should be fixed in 6ecde26e6f

[2015-04-12 04:30] #32 closed

[2015-04-12 04:31] ehazlett commented on #6
This has been fixed in 6ecde26e6f

[2015-04-12 04:31] #6 closed

[2015-05-04 02:52] jacinto123 commented on #28
I get the same error. Any chance of getting this resolved?

[2015-05-07 13:27] amvapor commented on #28
The v1 tag doesn't exist in the docker hub registry anymore... can be fixed by providing your own conf

`shipyard cli> shipyard add-extension --url https://myhost.example.com/interlock.conf`

and in that interlock.conf change ehazlett/interlock:v1 to ehazlett/interlock:### where ### is a tag that exists at https://registry.hub.docker.com/u/ehazlett/interlock/tags/manage/

for example:
[code]

this

[2015-05-08 17:16] jacinto123 commented on #28
So then is this project dead?

[2015-05-08 18:35] ehazlett commented on #28
Tag has been pushed.  Note that the current development (master) is against swarm.

[2015-05-08 18:35] #28 closed

[2015-05-28 01:23] chromerobv opened #35 "not picking up changes"
sometimes the haproxy does not pick up changes that happen.
i will add new node to a pool or remove some and it will not show up.
i have to restart the container to see the changes.

i dont see anything in the logs, so im not sure what to give you to help.

[2015-05-28 22:06] chromerobv opened #36 "feature request"
is there anyway to have the members of the pool named after the container names.
right now if the pool is named foo.mydomain.com the members show as foo_mydomain_dom_0, _1, etc...

it would be so much more helpful if it showed the actual name of the containers instead.

[2015-06-03 07:01] pkaeding opened #37 "How to handle service upgrades?"
I'm curious if Interlock does anything to support atomically swapping out versions of an application.  For instance, suppose you have 1 container running version `A` of your application.  If you start another container running version `A`, it should be added to the same backend pool, so HAProxy can balance between them.

However, if you then deploy a container running version `B`, you likely don't

[2015-06-03 10:06] mbentley commented on #37
You are correct, it currently doesn't have any logic to handle that.

[2015-06-03 13:33] ehazlett commented on #37
We would need to account some type of variable (perhaps a flag on the image ID).  Typically this has been pushed off to the deployment system.  We could add a flag in the `INTERLOCK_DATA` that would support this.  Perhaps something that makes sure only containers of the same image ID are added to the pool?

[2015-06-03 18:08] chromerobv commented on #37
yeah. we handle this with a quick ansible playbook. on run we set a --label. then when we start up new container with the same label it first grabs all the old containers with the same label. then brings up the new ones, checks if they are working correctly then kills the old ones. if it doesnt come up correct then it kills the newly created ones.

[2015-06-03 18:33] pkaeding commented on #37
@chromerobv That sounds a lot like the ansible deploy script I have for some non-dockerized services, but it works well because it doesn't update the HAProxy configs until it is sure the new services are up, and then it swaps the configs atomically. The problem here is that Interlock would add the new services to HAProxy before it is sure they are up (and more importantly, before it removes the ol

[2015-06-03 20:37] chromerobv commented on #36
https://github.com/ehazlett/interlock/pull/38

[2015-06-03 20:38] ehazlett commented on #36
+1

On Thursday, May 28, 2015, chromerobv <notifications@github.com> wrote:

[2015-06-03 23:50] chromerobv commented on #37
true but i have it add it with a custom check and if that check isn't working then it isn't active in the pool yet.

[2015-06-05 17:12] ehazlett commented on #36
Fixed in #38

[2015-06-05 17:12] #36 closed

[2015-06-05 17:13] ehazlett commented on #35
This can happen if the Swarm event stream goes away and then comes back.  Interlock re-connects but can sometimes not get the stream.  I'm not sure how we can debug -- if you can find a way to reproduce then I will do some digging.

[2015-06-08 19:02] chromerobv commented on #35
so as a work around for now whenever i add new containers to a pool i restart the interlock container with just a docker restart. was working perfectly fine but randomly today the container died after restart with the following:

time="2015-06-08T18:33:01Z" level="debug" msg="[haproxy] jobs: 0"
time="2015-06-08T18:33:01Z" level="debug" msg="[haproxy] reload triggered"
time="2015-06-08T18:33:01Z" l

[2015-06-11 03:11] normalfaults opened #43 "error"
getting this error while running interlock haproxy
time="2015-06-11T03:09:14Z" level="info" msg="using tls for communication with swarm"
time="2015-06-11T03:09:17Z" level="info" msg="interlock running version=0.2.6 (043cb24)"
time="2015-06-11T03:09:17Z" level="debug" msg="connecting to swarm on tcp://10.6.33.65:3376"
time="2015-06-11T03:09:17Z" level="info" msg="loading plugin name=haproxy version

[2015-06-11 03:13] ehazlett commented on #43
Are you sure your SSL cert is formatted properly?  You can check the error
by "docker exec" to the container and manually running haproxy -- I want to
add that output to the container logs eventually.

On Wed, Jun 10, 2015 at 11:11 PM, Nirmal Mehta <notifications@github.com>
wrote:

[2015-06-11 03:22] normalfaults commented on #43
I think you are right about the SSL Cert. I need to cat the cert and key together. +1 for adding the haproxy logs to the container logs would definitely make debugging easier. I will try with the new cert.

[2015-06-11 03:30] normalfaults commented on #43
you were correct is was the ssl cert format. Thanks for the quick response!

[2015-06-11 03:30] #43 closed

[2015-06-11 04:01] ehazlett commented on #43
yw -- glad you got it working :D

On Wed, Jun 10, 2015 at 11:30 PM, Nirmal Mehta <notifications@github.com>
wrote:

[2015-06-13 00:17] mbentley opened #45 "Interlock stops processing further events on swarm container error"
When running a interlock + nginx plugin against a swarm cluster, I am running into what looks like a race condition where interlock tries to query for a container that doesn't exist and swarm throws an error stating that the said container doesn't exist.  It seems that interlock stops processing further events.  Here is a gif of the error in action.  Interlock is on top, swarm on the bottom:

![in

[2015-06-13 00:25] mbentley commented on #45
In testing, I found that if I switched my swarm-agent-master back to using `swarm:0.3.0-rc2`, I get the container errors but interlock continues to process events.

[2015-06-25 21:02] yoanisgil opened #48 "No ports exposed on a Swarm cluster"
Hi, I am getting the warning below:

[code]

This is all run in a swarm cluster. I launced interlock with:

[code]

This is the output from docker inspect on one those containers:

[code]

The swarm cluster is using Consul and Registrator. Containers are being launched with:

[code]

The service defintion is:

[code]

with contens from deploy-common.yml, like:

[code]

Any ideas what might be caus

[2015-06-25 21:09] yoanisgil commented on #48
Also is there any doc outlining how to setup a development environement. I could look into this myself but I was not able to find out how to get the project running on a dev environment.

[2015-06-25 22:33] ehazlett commented on #48
There do not appear to be any exposed ports for those containers nor are
you publishing all that are defined in the image.  Therefore, interlock
will not add a backend it cannot route requests to.

On Thu, Jun 25, 2015 at 2:09 PM, Yoanis Gil <notifications@github.com>
wrote:

[2015-06-25 22:34] ehazlett commented on #48
The easiest way to develop is to use the ./script/build script and build a
docker image from that.  If you have the plugin requirements locally (i.e.
haproxy or nginx) you can just run the resulting binary (i.e with godep go
build)

On Thu, Jun 25, 2015 at 3:32 PM, Evan Hazlett <ejhazlett@gmail.com> wrote:

[2015-06-25 22:38] yoanisgil commented on #48
Hm i am going to double check since it looks like I posted the wrong inspect output

[2015-06-26 01:31] yoanisgil commented on #48
Ok. I just realized that those ids belong to swarm/registrator, etc. However, I do not see any backend added after new containers have been created and old ones has been removed.  I do see this, however:

time="2015-06-26T01:26:16Z" level="info" msg="[interlock] dispatching event to plugin: name=haproxy version=0.1"
time="2015-06-26T01:26:16Z" level="info" msg="[interlock] dispatching event to plu

[2015-06-26 02:04] ehazlett commented on #48
There are no exposed ports in your backend containers. You must expose at
least one port and have a hostname for the container in order for interlock
to be able to route to it. For example, docker run -P --hostname foo.local
nginx

On Thursday, June 25, 2015, Yoanis Gil <notifications@github.com> wrote:

[2015-06-30 14:40] firegrass opened #50 "Interlock crashed report"
FYI... happened during (as far as I'm aware) normal operation. Restarting the container brought it back up.

[code]

[2015-06-30 14:41] ehazlett commented on #50
What version are you using?  I believe we pushed a fix for this recently.

On Tue, Jun 30, 2015 at 10:40 AM, Patrick McEvoy <notifications@github.com>
wrote:

[2015-06-30 14:48] firegrass commented on #50
0.2.3 - I'll update and report back if I can replicate it again. Feel free to close this

[2015-06-30 15:36] ehazlett commented on #50
Cool thanks!

[2015-06-30 15:36] #50 closed

[2015-07-17 17:24] mbentley opened #52 "nginx plugin - no default server when SSL enabled"
When enabling an endpoint that utilizes SSL, there is no default server for SSL connections.  This causes random backends to be exposed unintentionally.

[2015-07-17 17:32] mbentley commented on #52
I am working on identifying what a proper fix would be.  My first thought would be something that can handle modifying https://github.com/ehazlett/interlock/blob/master/plugins/nginx/template.go#L53 to change the default server to serve both http and https.  The problem is that multiple lines would need to be added; similar to:

[code]

I don't know if this breaks how the template would work but t

[2015-07-18 00:15] ehazlett commented on #52
I think this is why there was no default on SSL as is.  Let me think on this a bit :)

[2015-07-31 09:09] lorentzg opened #53 "Interlock + shipyard example is not working"
Environment: Mac OS with single boot2docker vm running (docker 1.7.1).
Scenario:
1. Use shipyard-deploy to start shipyard: http://shipyard-project.com/docs/quickstart/
2. Create local engine for boot2docker vm in UI as described: http://shipyard-project.com/docs/quickstart/
3. Login to shipyard-cli and run interlock as described in https://asciinema.org/a/13318
4. Run "go-demo" as described https:

[2015-07-31 11:42] ehazlett commented on #53
How are you running the demo container?  You must pass a hostname and
expose at least one port. There is no conflict on port 8080 as that is a
container port and will not conflict the the host port unless you try to
bind to a host port as well which you don't need to. Interlock will take
care of finding the random port.

On Friday, July 31, 2015, Lorentz Green <notifications@github.com> wrote:

[2015-07-31 12:02] lorentzg commented on #53
Hi, sorry you're right about port 8080 - seems I got confused.

I'm running demo container in similar way like shown in your screencast (only different hostname):

Maybe there is issue with some dependencies outside of shipyard+interlock... However I did install haproxy, swarm, machine, just to be shure. :-)

NOTE: When I add engine I add is through UI with https docker url and certs and keys are

[2015-07-31 12:04] ehazlett commented on #53
Do you have a local host entry for "local" so you can access the container
on http://local ?  You need the host entry as interlock uses the host
header to route to the container.

On Friday, July 31, 2015, Lorentz Green <notifications@github.com> wrote:

[2015-07-31 12:06] lorentzg commented on #53
I did update as in screencast /etc/host file with boot2docker vm IP where interlock is running:
...
<boot2docker ip value>   shipyard.local
....

[2015-07-31 12:07] ehazlett commented on #53
It might be an issue with the shipyard run. Could you try a regular docker
run?

Example:  docker run -d -P --hostname local ehazlett/docker-demo

On Friday, July 31, 2015, Lorentz Green <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2015-07-31 12:17] lorentzg commented on #53
Ok, I did try:

Seems shipyard.local/ still returns 503.

[2015-07-31 15:15] lorentzg commented on #53
I did try to do cleanup of containers, restarted boot2docker, reinstalled shipyard and interlock (maybe I did mess something up), however still no success (currently containers that running are listed are below):

ID	|	Image			|	Name		|	Host	| State	| Ports
-------|--------------------------------|---------------------------|------------|-------------|------------
6754498f102b | ehazlett/go-demo |

[2015-07-31 18:38] ehazlett commented on #53
Can you run ehazlett/interlock:latest instead of v1?

On Fri, Jul 31, 2015 at 8:15 AM, Lorentz Green <notifications@github.com>
wrote:

[2015-07-31 20:57] lorentzg commented on #53
I tried to modify config that you provided by replacing version to "latest" but after install it shows "v1" anyway:

Can you help me out a bit here - how to get "latest" running?

[2015-07-31 20:58] lorentzg commented on #53
I seems I missed image name.. :-(

[2015-07-31 21:10] ehazlett commented on #53
Ah the extension.  Unfortunately those are being removed in v3.  The
current recommended way to set that up would be in docker-compose although
I'm still not sure why yours isn't working.  Could you paste the output of
docker logs interlock?

On Fri, Jul 31, 2015 at 4:58 PM, Lorentz Green <notifications@github.com>
wrote:

[2015-07-31 21:25] lorentzg commented on #53
This is from interlock:v1 docker logs (1. install v1 2. then run go-demo 3. view interlock log in shipyard UI ):

[2015-08-03 08:31] lorentzg commented on #53
I understand that v2 of shipyard might be superseded by v3. What would be the suggestion how to setup failover/load balancing for shipyard then? Or even more - I'm even ok to accept alternatives to shipyard itself...

[2015-08-12 22:04] chromerobv opened #54 "set timeout server"
is there anyway to set the 'timeout server' as a backend option in the INTERLOCK_DATA options?
i know i can set it as a env variable for the default values but that affects all pools.

thanks!

[2015-08-14 05:00] ehazlett commented on #53
I'm using interlock with shipyard v3 using just containers and it works nicely.  You do have to make sure you have DNS setup or it won't work as you need the host header in order to route to the container.

[2015-08-17 20:56] ahromis opened #55 "TLS to backends"
Would it be possible to include an additional parameter to the backends to allow for SSL to the backends?  Maybe it can be a `"tls_backend": true` passed in INTERLOCK_DATA so that the communication stream will be encrypted to the backends?  That would be great, thanks!

[2015-08-18 13:48] ehazlett commented on #55
This should be fine

[2015-08-21 14:03] #55 closed

[2015-09-16 19:12] huslage opened #57 "Interlock crashes when member container stops"
10 web front ends. `docker stop` one of the members. Interlock crashes:

[code]

[2015-09-16 19:20] ehazlett commented on #57
What version of interlock?  What are the images?  Are you using Swarm?

[2015-09-16 19:39] huslage commented on #57
It's `ehazlett/interlock:latest` from hub. The member containers are just
`nginx`. It's connecting to `swarm:0.4.0` with no TLS.

On Wed, Sep 16, 2015 at 2:20 PM, Evan Hazlett <notifications@github.com>
wrote:

--
Aaron Huslage
+1-919-600-1712
IM: GTalk - huslage@gmail.com; Skype - huslage

PGP: 0x360DE590 / 30D4 B15B 74B2 F0E9 35D4  ABE0 2CB7 AC60 360D E590

[2015-09-16 19:55] ehazlett commented on #57
I'm unable to reproduce.  I've tried multiple combinations of stopping (multiple at once etc).

Are you stopping them in any particular fashion?

[2015-09-16 19:57] huslage commented on #57
docker stop <container_name>

[2015-09-16 20:02] ehazlett commented on #57
[code]

[code]

[code]
time="2015-09-16T20:01:19Z" level="debug" msg="[haproxy] update request received"
time="2015-09-16T20:01:19Z" level="debug" msg="[haproxy] generating proxy config"
time="2015-09-16T20:01:19Z" level="info" msg="[haproxy] demo.local: upstream=192.168.1.149:32953 container=nginx-test-24"
time="2015-09-16T20:01:19Z" level="info" msg="[haproxy] demo.local: upstream=192.168.1.149:

[2015-09-16 20:04] huslage commented on #57
I've now watched three people do the same exact thing and it happens sometimes, but not every time. There seem to be no resource constraints.

[2015-09-16 20:04] ehazlett commented on #57
I've been doing it for 5 min with that script -- no fails.  Are the containers launched any specific way?  Labels, constraints, etc?

[2015-09-16 20:19] huslage commented on #57
`for i in {0..9}; do docker run -d -p 80$i:80 --hostname web.docker.demo --name www$i nginx; done` is what they did

[2015-09-16 20:51] shortjared commented on #57
I can also confirm that this happens, but it typically requires rapidly killing of running containers.

`for i in {0..9}; do docker run -d -p 80$i:80 --hostname web.docker.demo --name www$i nginx; done`
`for i in {0..9}; do docker stop www$i; done`

This crashes the interlock container every time for me without fail.

[code]

[2015-09-16 21:42] ehazlett commented on #57
@shortjared interesting.  i have seen a few times when running a bunch of concurrency with the haproxy plugin that sometimes the swarm event stream stops (usually under high concurrency).  could you try a `sleep 1` in between to see if it's race'y?

[2015-09-16 22:12] shortjared commented on #57
So sleeping for 1 second does not fix the issue. Even sleep 5 did not.

I can get you the full stack trace if needed.

[code]

[2015-09-16 23:18] ehazlett commented on #57
Thanks for the feedback.  I still cannot re-create.  Could you try this to see if it still does it:

Instead of running with a dedicated port, can you try with letting Docker assign the port?  Like so:

`for i in {0..9}; do docker run -d -p 80 --hostname web.docker.demo --name www$i nginx; done`

[2015-09-17 03:36] shortjared commented on #57
Finally got the chance to try this with ephemeral ports. You can add new containers just fine (I added a hundred nginx containers with no crash.) As soon as I try to issue stops, I got the same crashing behavior as before.

[2015-09-23 23:56] lukemadera opened #59 "docker machine, compose, swarm haproxy (or nginx) working example"
I'm having trouble getting the reverse proxy to work with Docker Swarm.

I followed this tutorial https://blog.docker.com/2015/02/orchestrating-docker-with-machine-swarm-and-compose/

So I'm using docker-machine, docker-swarm, and scaling with docker-compose.

And I have my docker swarm running with 3 swarm nodes / agents.
I can access my public http site on all 3 individual IP addresses for the s

[2015-10-12 15:01] helix01 opened #60 "No connection to Swarm"
Hi there,
im using shipyard v3 and want to use interlock/haproxy. I managed to get it running, but only direct via docker:
docker run -p 80:80 -v /var/run/docker.sock:/var/run/docker.sock -e "HAPROXY_PROXY_BACKEND_OVERRIDE_ADDRESS=MY_PUBLIC_IP" -d ehazlett/interlock --plugin haproxy start

When im using the "stock" shipyard setup, how can i connect to swam?
docker run -p 80:80 -d ehazlett/interloc

[2015-11-19 11:28] lucj opened #62 "Bad certificats error when used on local Swarm created with Machine"
Hi Evan,

When deploying this compose file on a VirtualBox Swarm created with Machine, I got some error from interlock regarding bad certificate.

Creation of the Swarm on VirtualBox

    # KV Store
    docker-machine create -d virtualbox consul
    eval "$(docker-machine env consul)"
    docker run -d -p "8500:8500" -h "consul" progrium/consul -server -bootstrap

    # Swarm master
    docker-mac

[2015-11-19 11:38] normalfaults commented on #62
There might be a certs subdirectory in .docker ?

[2015-11-19 11:42] lucj commented on #62
When I created with Machine, the Docker host contains certs in /home/docker/.docker

    docker@demo0:~/.docker$ pwd
    /home/docker/.docker
    docker@demo0:~/.docker$ ls
    ca.pem    cert.pem  key.pem

[2015-11-19 22:07] alvinr opened #64 "Multi host networking..."
# Problem

The "multihost" branch provided a mechanism to get Interlock to forward requests via the internal network to the Web container. It also relaxed the need to specify a an External Port of the Web container.

Given that Multi-host networking is now "GA", what's the recommended way to do this now?

[2015-11-19 22:58] alvinr commented on #64
So it looks like the vendoring in Container Info reflect 1.8, not the changes to to allow multiple networks, see

https://github.com/ehazlett/interlock/blob/master/vendor/github.com/samalba/dockerclient/types.go

[code]

[2015-11-20 13:08] ehazlett commented on #64
Ya this branch was an early prototype.  I'm planning a large refactor to
support multihost networking that will be much better. :)

On Thu, Nov 19, 2015 at 11:58 PM, Alvin Richards <notifications@github.com>
wrote:

[2015-11-20 17:36] janeczku commented on #53
@ehazlett I didn't find any example how to integrate interlock with shipyard 3. Could you outline the necessary steps? What do you mean by "DNS setup"?

[2015-11-24 20:09] lucj commented on #62
Seems like this is linked to a problem with the certificates when creating the Docker host with machine and this is not linked to Interlock.
https://github.com/docker/machine/issues/2405

[2015-11-24 20:09] #62 closed

[2015-11-26 16:00] wr0ngway opened #65 "Nginx not setting proxy headers"
Since interlock is using nginx strictly as a proxy, it should set the headers to pass through the data most proxies do:

    proxy_set_header HOST $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

Theses can be set in either the http, server or location contexts:
http://nginx.org/en/

[2015-11-26 16:11] wr0ngway commented on #65
Actually, now that I look at the code, its only missing X-Forwarded-Proto and HOST

[2015-11-26 16:15] ehazlett commented on #65
closing as #66 was merged. thanks!!

[2015-11-26 16:57] md5 commented on #65
Unconditionally setting `X-Forwarded-Proto` to `$scheme` means that you'll lose any incoming `X-Forwarded-Proto` that is received by `nginx`. This can be problematic if you have a load balancer (for example an AWS Elastic Load Balancer) that is terminating SSL and forwarding on requests with plain HTTP. For the `jwilder/nginx-proxy` image, I submitted a PR in October 2014 to use `map` to only set

[2015-11-26 17:47] ehazlett commented on #65
good point. I'm going to revert that. can we get these integrated @wr0ngway ?

[2015-11-26 19:18] md5 commented on #65
Here's the relevant lines of the `jwilder/nginx-proxy` config: https://github.com/jwilder/nginx-proxy/blob/1e0b9301747a48d7a51d5d088ac5df16bde878c0/nginx.tmpl#L18-L23

[2015-11-26 23:51] wr0ngway commented on #65
Good point, I'll make the change, thanks.
Should HOST also be treated the same way?

[2015-11-27 00:21] wr0ngway commented on #65
Addressed in #68

[2015-11-27 15:50] md5 commented on #65
@wr0ngway I don't think it can hurt to set `Host`. [The docs](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_set_header) say that passing `Host` through is the default, but they also say this:

It's unclear to me whether this means that setting `proxy_set_header` at a level will also mean that the defaults aren't used.

[2015-11-27 15:53] md5 commented on #65
Now that I see the defaults, it probably also makes sense to set `Connection: close`. However, this is another area where we had to add special handling in `jwilder/nginx-proxy`. Specifically, we set `Connection: close` in all cases, *except* when the `Upgrade` header is present. This was done to accommodate proxying Websockets. See here: https://github.com/jwilder/nginx-proxy/blob/1e0b9301747a48d

[2015-11-27 15:54] md5 commented on #65
See https://github.com/jwilder/nginx-proxy/pull/46 for the PR and linked discussions.

[2015-11-28 14:19] wr0ngway commented on #65
Ok, looks like interlock/nginx already has that upgrade/close logic for WS in the nginx template ( https://github.com/ehazlett/interlock/blob/master/plugins/nginx/template.go#L46-L49 ), so this should be ready to go now @ehazlett

[2015-11-30 15:52] wr0ngway commented on #65
That is, ready to go in PR #68 - since you did a revert, I figured a new branch/commit would ensure a clean merge

[2015-11-30 19:06] wr0ngway opened #69 "How to compile?"
Not really an issue, but does anyone have any directions on how to build/compile this repo.  It could just be my lack of familiarity with go, but a wiki page would be appreciated.  Uncertain as to what my GOPATH should be set to, and how to fetch dependencies, etc.  Running ```make``` or ```make add-deps``` with a GOPATH of the repo's dir fails to find packages:
[code]

[2015-11-30 20:18] wr0ngway commented on #69
Ok, after some iteration, this is what I have so far:
[code]

The final make runs for a while, so its doing something, but still fails with the following:

[code]

Any ideas?

[2015-11-30 23:01] #69 closed

[2015-11-30 23:02] ehazlett commented on #69
Sorry about that :)  I just added some dev docs:
https://github.com/ehazlett/interlock#building

Hopefully that helps!

On Mon, Nov 30, 2015 at 3:18 PM, Matt Conway <notifications@github.com>
wrote:

[2015-11-30 23:02] ehazlett commented on #65
closing as #68 was merged :)  thanks!

[2015-11-30 23:02] #65 closed

[2015-12-01 17:38] wr0ngway commented on #69
Ok, I took a look, but I'm not getting very far - excuse me if I'm just being a go newb :)  Do I have to do something special to get/enable the vendor experiment aside from setting that environment variable?
This is what I did:

    go version go1.5.1 linux/amd64

    commands.go:15:2: cannot find package "github.com/Sirupsen/logrus" in any of:
      /usr/local/go/src/github.com/Sirupsen/logrus (f

[2015-12-01 17:41] ehazlett commented on #69
Yes it's a Go path issue.  The easiest way to fix this is to actually clone
the source to your GOPATH.  For example, I use ~/dev/gocode as my GOPATH.
Then I clone my repos there.  For example, I clone interlock to
~/dev/gocode/src/github.com/ehazlett/interlock.  This way Go can find it.

On Tue, Dec 1, 2015 at 12:38 PM, Matt Conway <notifications@github.com>
wrote:

[2015-12-01 17:41] ehazlett commented on #69
I will also add a docker container build target to build everything in a
container.  I usually do this in my projects to prevent these path issues :)

On Tue, Dec 1, 2015 at 12:40 PM, Evan Hazlett <ejhazlett@gmail.com> wrote:

[2015-12-01 17:44] wr0ngway commented on #69
Ok, great, that worked, thanks!  A docker build sounds like a great idea too

[2015-12-01 17:57] ehazlett commented on #69
Ok added a build-container target and updated readme.  Thanks!

On Tue, Dec 1, 2015 at 12:44 PM, Matt Conway <notifications@github.com>
wrote:

[2015-12-01 20:05] wr0ngway commented on #69
Ok, I was able to build an image, but required a few tweaks.  Not doing a PR, as I'm not sure if these are valid for all:
* Dockerfile.build: golang:1.5-cross doesn't exist, only 1.4-cross does, but it worked for me without cross (I only need linux)
* Dockerfile: Had to add --force-yes to the haproxy/nginx install lines
* Makefile: Had to manually remove dependency on build in the other phony targ

[2015-12-01 20:18] md5 commented on #69
@wr0ngway What you did with respect to `1.5-cross` was correct. See https://github.com/docker-library/golang/issues/63

[2015-12-09 01:29] wr0ngway commented on #52
+1 ran into a problem with multiple ssl vhosts leaking into each other
nginx doesn't check `server_name` unless it has to disambiguate `listen`, so by not having a default ssl listen, it ends up picking the first vhost ssl listen even when I'm requesting a different vhost that is no longer in the config.  A good read on it here: https://www.digitalocean.com/community/tutorials/understanding-nginx-

[2015-12-09 16:08] wr0ngway commented on #52
Maybe something like: http://serverfault.com/questions/382606/nginx-serving-content-from-the-wrong-virtual-host-while-accessing-with-https

That is, use the snakeoil cert - to generate on ubuntu, install `ssl-cert` package, then if installing didn't create the snakeoil cert you can do so with `make-ssl-cert generate-default-snakeoil --force-overwrite`

[2015-12-24 11:12] alexw23 commented on #53
The problem I am having is that the HostIp is 0.0.0.0 - do I need to override this somehow?

[2016-01-01 18:33] tmrudick commented on #53
Having the same problem where HostIp is set to 0.0.0.0 with Swarm. I am able to use HAPROXY_PROXY_BACKEND_OVERRIDE_ADDRESS to get around this. But, it seems that it shouldn't be required?

[2016-01-01 18:39] ehazlett commented on #53
Make sure you are connecting to swarm and not docker.  Swarm will give back
an IP where as the docker engine returns 0.0.0.0.

On Fri, Jan 1, 2016 at 1:33 PM, Tom Rudick <notifications@github.com> wrote:

[2016-01-01 19:04] tmrudick commented on #53
Thanks! That appears to be the problem. I had to link to the swarm-manager for it to work correctly using: `docker run -p 80:80 -d --link=shipyard-swarm-manager:swarm ehazlett/interlock --swarm-url tcp://swarm:3375 --plugin haproxy start`

The swarm-manager container does not expose 3375 using the automatic install. Is that expected?

[2016-01-01 20:51] ehazlett commented on #53
Correct.  This is because by default there is no TLS setup and that would
expose your Docker engine to the public.  You can certainly expose it using
the manual deploy but I would strongly recommend setting up TLS.

On Fri, Jan 1, 2016 at 2:04 PM, Tom Rudick <notifications@github.com> wrote:

[2016-01-02 17:10] tmrudick commented on #53
Makes sense! Thanks!

[2016-01-07 13:51] pablo-ruth commented on #64
:+1:

[2016-01-10 04:13] brunogoossens opened #70 "docker-compose support"
I don't think that it's possible to add the plugin option to a docker-compose.yml file. Maybe you can use environment variables instead of custom arguments?

[2016-01-12 14:07] brunogoossens commented on #70
Ok, I found out how it works with docker-compose:

interlock:
 image: ehazlett/interlock:latest
 ports:
 - "80:80"
 volumes:
 - /var/lib/docker:/etc/docker
 command: "--swarm-url tcp://<SWARM_MASTER_IP>:3375 --debug --plugin haproxy start"

[2016-01-12 14:07] #70 closed

[2016-01-13 10:40] brunogoossens commented on #24
I tested this with a Swarm setup of 1 machine (swarm-agent and swarm-agent-manager on same machine). In this case the redirect rule is also set to 0.0.0.0. Maybe you can use the SWARM master Host IP if the node IP returns 0.0.0.0 ?

[2016-01-21 06:59] slashk opened #71 "make build-container fails due to missing golang base image"
`Dockerfile.build` (used to compile in a container) references a `golang:1.5-cross` image, which is not an official image (the latest cross image is 1.4.3). As this is not being cross compiled, it should probably use the latest golang base image.

[2016-02-11 12:31] adamjimenez opened #73 "nginx crashes if two containers with the same hostname"
[code]

perhaps this could be handled more gracefully?

[2016-02-11 15:06] ehazlett commented on #73
Thanks for the report.  I will take a look.

[2016-02-11 15:06] ehazlett commented on #71
Closing as PR was merged.

[2016-02-11 15:06] #71 closed

[2016-02-11 15:08] ehazlett commented on #60
This needs to be connected to an accessible swarm endpoint.  By default there is no way to tell what that is so it resolves to localhost.  Simply set this to an accessible IP.

[2016-02-11 15:08] #60 closed

[2016-02-11 15:10] ehazlett commented on #59
Sorry for the delay.  This needs to connect to a Swarm manager (not the nodes).  Interlock then receives the node IP and sets that in the upstream.

[2016-02-11 15:10] #59 closed

[2016-02-11 15:10] ehazlett commented on #57
This should be fixed in the new `ng` branch that will be released in a week or so.  Please open a new issue if you continue to have issues.  Thanks!

[2016-02-11 15:10] #57 closed

[2016-02-11 15:12] ehazlett commented on #54
Not at the moment.  There has been a large refactor for the plugins.  Please re-open if you would like to have this added.  Thanks!

[2016-02-11 15:12] #54 closed

[2016-02-11 15:12] #53 closed

[2016-02-11 15:13] ehazlett commented on #52
This should be fixed with the new `ng` branch set to be released in a week or so.  Please re-open if you continue to notice the issue.  Thanks!

[2016-02-11 15:13] #52 closed

[2016-02-11 15:13] #48 closed

[2016-02-11 15:13] ehazlett commented on #45
This should be fixed in the new `ng` branch.  Please re-open if you continue to notice issues.  Thanks!

[2016-02-11 15:13] #45 closed

[2016-02-11 15:14] ehazlett commented on #37
There isn't any functionality to handle this.  Perhaps an extension in the future.  Closing for now.

[2016-02-11 15:14] #37 closed

[2016-02-11 15:15] ehazlett commented on #35
There is reconnect functionality in the new `ng` version set to be released in a week or so.  This is fixed.  Thanks!

[2016-02-11 15:15] #35 closed

[2016-02-11 15:15] ehazlett commented on #22
This is fixed in `ng`.  Please open a new issue if you continue to have issues.  Thanks!

[2016-02-11 15:15] #22 closed

[2016-02-28 07:13] gittycat opened #77 "Support version X.Y instead of just X.Y.Z"
It would help to be able to retrieve the latest 1.0.x version by using
[code]
This currently doesn't work as the full `ehzalett/interlock:1.0.0` is needed.

[2016-02-28 11:08] gittycat opened #78 "Cannot start the latest interlock with --swarm-url"
I'm consistently getting an error about the `--swarm-url` parameter to interlock.
I'm using the latest docker, docker-machine, docker-swarm and interlock (interlock:1.0.0 or interlock:ng)

[code]
results in an incorrect usage followed by this
[code]
Note the single dash before `swarm-url`.

[2016-02-28 18:31] ehazlett commented on #78
Yes as noted in the readme this is a major refactor.  `ehazlett/interlock:latest` still points at the old version for this reason.  If you want to use 1.0+ I strongly suggest looking at the docs (https://github.com/ehazlett/interlock/tree/master/docs) as there are quite a few differences.  First, there is now a configuration file which is why you are getting the error for the flag.  I'm planning t

[2016-02-28 18:31] #78 closed

[2016-02-28 20:18] gittycat commented on #78
Oh, I actually use the config file. I forgot to include the volume in the sample above since I'm normally use a docker compose file. I did double checked and the config file is in `/bin/config.toml` on the container. I use the same config.tom that you list in the nginx example.

So are the `--swarm-xxxx` parameters not passed by parameters to the command anymore? If not, I can't see which new conf

[2016-03-01 14:35] ehazlett commented on #77
A tag has been created `ehazlett/interlock:1.0` -> `ehazlett/interlock:1.0.0`.  Thanks!

[2016-03-01 14:35] #77 closed

[2016-03-02 12:58] twobombs opened #79 "{"port":80} directive does not pick up the right port when more then one port is published and containers are added and/or removed"
docker run -p 80:80 --name interlock --restart=always --hostname interlock -e INTERLOCK_DATA='{"port":80}' -e HAPROXY_PROXY_BACKEND_OVERRIDE_ADDRESS=192.168.99.100 -e HAPROXY_CLIENT_TIMEOUT=2000000 -e HAPROXY_SERVER_TIMEOUT=2000000 ehazlett/interlock -s tcp://192.168.99.100:2375 --plugin haproxy start

does not always pick up port 80 of a container

log snippet:

works and publishes correct: ( cha

[2016-03-03 08:42] sirlatrom opened #80 "Docs on extensions have HAProxy a lot of places in nginx section"

[2016-03-03 13:37] ehazlett commented on #80
yikes this looks like a bad merge.  thanks for reporting!

[2016-03-03 13:45] ehazlett commented on #80
fixed in 898c7de thanks!

[2016-03-03 13:45] #80 closed

[2016-03-03 13:45] ehazlett commented on #79
This looks like it is working as expected:

The following gets port "80" exposed as it's the only port.

`docker run --rm -ti -p 80:80 --hostname foo.local alpine ash`

[code]

If more than one port is published I can specify which port to use:

`docker run --rm -ti -p 80:80 -p 3000:3000 --label interlock.port=80 --hostname foo.local  alpine ash`

You can see the upstream is `172.17.0.1:80`

[code

[2016-03-03 13:46] ehazlett commented on #79
Ah so the example I used is for the new version.  Let me debug the legacy version to see if I can re-create.

[2016-03-03 14:02] twobombs commented on #79
Thank you for the response, really grateful for this. The "--label interlock.port=3000" is a new one, looks as though it's usefull for the static mapped ports.

However, mapping is mostly done on a dynamic port eg:

docker run --rm -ti -p 80 -p 8022 --hostname foo.local alpine ash

With the 'port'=80 directive oftentimes port 8022 or port 3306 instead of port 80 is relayed through HAPROXY

<img wi

[2016-03-03 14:23] ehazlett commented on #79
Ok this is what the `{"port":80}` is supposed to fix.  Let me see if I can re-create on legacy.

As another thought, you might want to try the new version (1.0) although this does require the load balancing container be external (i.e. another nginx or haproxy container).

I will see if I can re-create this scenario.  Thanks!

[2016-03-03 14:28] ehazlett commented on #79
This looks like it's working in legacy (0.3.3) as well:

[code]

You can see in the logs "found specified port 8000...".  Can you give the version of Interlock you are using as well as the logs from Interlock when you run one of these containers having issues?

[2016-03-03 14:54] twobombs commented on #79
<img width="883" alt="screenshot 2016-03-03 15 41 39" src="https://cloud.githubusercontent.com/assets/12692227/13497584/7459edde-e156-11e5-8f74-f2ad835b0161.png">

version obtained with the docker run command as mentioned in the first post ( pulls the default version )

Below a fail ( publishing port 30003 )
![screenshot 2016-03-03 15 44 17](https://cloud.githubusercontent.com/assets/12692227/1349

[2016-03-03 15:30] ehazlett commented on #79
Thanks. This looks like an older version of interlock. Could you pull the
latest (docker pull ehazlett/interlock:latest) and try again?
On Mar 3, 2016 9:54 AM, "twobombs" <notifications@github.com> wrote:

[2016-03-03 21:45] owen opened #81 "haproxy bug: ordering of ssl / verify none / sni causes proxy.conf to fail parsing"
Hey there!

It looks like the ordering of ssl / verify / SNI in the haproxy `server` stanza causes the proxy.conf to not be parsed.

Tested: interlock 0.3.3 -- but I think this bug will also be present in interlock 1.0.0 because the ordering is the same.

Configuration:

`docker run -e INTERLOCK_DATA='{"ssl_backend_tls_verify": "none", "ssl_backend": true}' --hostname foo.bar.baz -p 3000 dtr.foo/t

[2016-03-04 04:06] robbydooo opened #82 "v1.0.0 will not work with UCP/Swarm and overlay network"
Hi there,

I have spent the last few days trying to get interlock v1.0.0 to work on our UCP/Swarm cluster but with no luck.

Using the overlay network seems to break the generation of the configuration files.
Example Compose file:

[code]

Toml config file:

[code]

This generates the following haproxy.conf

[code]

I believe it should be something like:

This generates the following haproxy.conf

[2016-03-04 04:40] ehazlett commented on #82
It looks like you are binding the Docker socket into the Interlock container.  How are you mounting the config.toml?  It looks like you are specifying a default which would use the Docker socket instead of Swarm which would cause the IP to be blank.

I recommend this reference architecture for using Interlock on UCP https://blog.docker.com/2016/03/configuring-load-balancing-service-discovery-docke

[2016-03-04 04:41] ehazlett commented on #81
Hmm yes this does seem odd.  I would definitely welcome a contribution :)  I will also see if I can find anything related.

Thanks!

[2016-03-04 07:43] ehazlett opened #83 "Config reference table not accurate"
The table isn't accurate for all options.

interlock/docs/configuration.md

[2016-03-04 07:44] ehazlett opened #84 "Invalid key path for kv store"
The path has changed.

interlock/docs/configuration.md

[2016-03-04 07:47] ehazlett opened #85 "Typo in extension page"
HAProxy is mentioned in the nginx section.

interlock/docs/extensions.md

[2016-03-04 10:53] twobombs commented on #79
We see it also failing with v0.33 :

2016-03-04T10:49:11.721971460Z time="2016-03-04T10:49:11Z" level=info msg="[haproxy]  upstream=192.168.0.224:32768 container=

2016-03-04T10:49:40.303193956Z time="2016-03-04T10:49:40Z" level=info msg="[haproxy] upstream=192.168.0.224:32769 container=

flipping between the two published ports

[2016-03-04 13:22] robbydooo commented on #82
Thanks for the links,

unfortunately that hasnt fixed the problems.

The config.toml was being loaded in correctly as I was building a custom image including our modified version. To make this easier though I have used the example version you sent using etcd for configuring and still getting the same issue.

It picks up the web app containers are coming up but doesnt seem to find the IP and socket

[2016-03-04 13:26] ehazlett commented on #82
What is your host OS?  This looks correct. I'm going to try to re-create.
On Mar 4, 2016 08:22, "Robert Norman" <notifications@github.com> wrote:

[2016-03-04 13:26] robbydooo commented on #82
I am using centos 7

[2016-03-04 13:58] ehazlett commented on #79
Hmm.  Can you give the entire log?  I cannot re-create when I specify the port in the environment variable.  If you do not set that it will select the first published port which would cause this action.

[2016-03-04 14:02] #83 closed

[2016-03-04 14:02] ehazlett commented on #85
Fixed in 345374f

[2016-03-04 14:02] #85 closed

[2016-03-04 14:03] ehazlett commented on #84
Fixed in 345374f

[2016-03-04 14:03] #84 closed

[2016-03-04 14:04] ehazlett commented on #82
Thanks, what kernel version?  The reason I ask is I think there is an issue with overlapping subnets on older kernels.

[2016-03-04 14:05] ehazlett commented on #82
This could be an issue with the different default overlay.  I will debug that as well.

[2016-03-04 14:08] robbydooo commented on #82
Linux docker-ucp 3.10.0-229.14.1.el7.x86_64 #1 SMP Tue Sep 15 15:05:51 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2016-03-04 16:11] robbydooo commented on #82
The Overly being the issue here would make a lot of sense. If that is the case is there a work around somehow? Is it that its expecting the IP address range to be 10.0.0.0/24 or that the name of the network needs to be something specific?

[2016-03-07 11:05] twobombs commented on #79
yupz, 0.33 has this fixed IMHO, all this time we ran with 0.31, the 0.33 version works(tm)

thank you very much for the information, we can now more ahead with mass-deployment ! :)

[2016-03-07 20:35] owen commented on #81
http://article.gmane.org/gmane.comp.web.haproxy/26894

Definitely looks like an HAProxy specific issue.

A PR is incoming for 1.0.0 - I haven't tested it, but it's pretty darn basic.
I'd like to send one for 0.3.3; not sure if you're interested in rebuilding.  This was tested & works fine.

I can't do a PR against a basic commit though.  Github :-1:  Are you interested in running a back ports bran

[2016-03-08 11:22] robbydooo commented on #82
Is there anything I can do to help get this fixed? I have tried several different ways of setting this up but still no luck.

[2016-03-08 13:43] twobombs commented on #79
update: dynamic allocated ports works
static ports do not

log:

2016-03-08T13:18:45.649614494Z time="2016-03-08T13:18:45Z" level=warning msg="***** THIS VERSION IS DEPRECATED.  PLEASE UPDATE *****"
2016-03-08T13:18:45.649780736Z time="2016-03-08T13:18:45Z" level=warning msg="See https://github.com/ehazlett/interlock for details"
w2016-03-08T13:18:45.650604038Z time="2016-03-08T13:18:45Z" level

[2016-03-09 19:03] ehazlett commented on #82
@robbydooo i'm standing up an env to try and re-produce.  any chance you could jump on IRC?

[2016-03-09 19:59] robbydooo commented on #82
@ehazlett sure which irc? Can skype, slack chat also whatever is easier.

[2016-03-09 20:05] ehazlett commented on #82
OK I have identified the issue.  Interlock does not yet support internal overlay networking (although it's on the roadmap).  In the short term you can work around this by using `ports` in your compose file.  For example,

[code]

This will cause Swarm to expose the node IP and port configured for the container and Interlock will work.  I know this isn't ideal with overlay networking and I'm workin

[2016-03-09 20:16] ehazlett opened #88 "Overlay Network Support"
Currently it is required to expose ports in order for Interlock to find the node that the container is using.  This would add overlay network support to "attach" to the container network and use the overlay instead of requiring a globally published port.

[2016-03-09 20:17] ehazlett commented on #82
I'm going to close this one for now, but for reference I've created #88 to track the overlay progress.  Please re-open if you continue to have the issue.  Thanks!!

[2016-03-09 20:17] #82 closed

[2016-03-09 20:19] ehazlett commented on #79
Hmm can you give a little more logs?  As you can see in my previous log output I have both dynamic and manually specified ports and they both are working.

[2016-03-09 20:21] ehazlett commented on #79
It also looks like those are dynamic only as in they are allocating high ports.

[2016-03-09 20:45] robbydooo commented on #88
Responding on this ticket instead of #82. So unfortunately this makes interlock & UCP unusable. For dedicated machines that limits you to one service per node.

Looks like I will have to find another alternative until this is resolved.

In terms of suggestions, adding a new option like:

[2016-03-09 21:31] ehazlett commented on #88
To help me understand the use case, if you are putting them behind a load balancer do you really need dedicated ports?

That's a great suggestion to add network support.  And this also gives us a good path for default and deprecation in the future.  :+1:

[2016-03-10 00:45] nicolaka opened #89 "multi-interlock config support on single UCP cluster"
Allow having multiple/different interlock configs per UCP cluster. Potentially change key from `interlock/v1/config` to something that adds an interlock identifier ?

[2016-03-10 11:07] robbydooo commented on #88
No need for dedicated ports, I misunderstood your fix at first. Ideally though I wouldn't have to open up those random ports to the world for this to work and just expose the ports.

The use case for me is the most basic really, I need a load balancer for our web traffic, port 80 and 443 across a UCP/Swarm cluster.

On docker cloud I use this:
https://github.com/tutumcloud/haproxy

Works exactly h

[2016-03-10 16:44] ehazlett commented on #88
FYI I'm working on this.  The networking on Docker Cloud is different from Swarm so things work differently.

I should have something to test very soon.

[2016-03-10 16:45] robbydooo commented on #88
Thanks Evan,

Shout if you need me to test anything.

[2016-03-11 19:40] ahromis opened #90 "Support for rewrites"
Right now the ha proxy "interlock.backend_option" adds "option" before the option.

So I was getting `option reqrep ^([^\ :]*)\ /static/(.*)     \1\ /\2` instead of just `reqrep ^([^\ :]*)\ /static/(.*)     \1\ /\2` when doing a rewrite.  Maybe there can be an additional interlock override data option that is interlock.haproxy_option or something like that to handle these kind of options?

Thanks!

[2016-03-11 23:42] everett-toews commented on #88
Dedicated ports should be doable though. With overlay networking, every container gets its own IP address so there's no contention over ports.

e.g. containers named like service_app_1, service_app_2, service_app_3, and are connected to the same network can all listen on their own port 8000 so your nginx.conf can look like

[code]

if you want.

[2016-03-11 23:43] everett-toews commented on #64
Looks like this is getting worked on in https://github.com/ehazlett/interlock/issues/88

[2016-03-11 23:58] everett-toews opened #91 "Externalize the extension configuration templates"
## Feature Request

Currently the extension configuration templates like [nginx/template.go](https://github.com/ehazlett/interlock/blob/master/ext/nginx/template.go) and [haproxy/template.go](https://github.com/ehazlett/interlock/blob/master/ext/haproxy/template.go) are compiled right into Interlock. That means you're locked into the how that configuration is done.

The extension configuration tem

[2016-03-12 00:04] everett-toews opened #92 "Configuration via env vars"
## Feature Request

Currently Interlock is configurable via text file and k/v store. That's good stuff but it would also be very helpful to have it configurable via env vars too so you can override configuration when you run an Interlock container.

e.g.

[code]

[2016-03-12 20:40] nixelsolutions opened #93 "Feature request: Support http2"
Would be nice if you could add http2 support on nginx :)

[2016-03-12 20:41] maounis commented on #93
:+1:

[2016-03-14 21:13] mbentley commented on #93
With this, you'd almost need to be able to verify the version of nginx in use since it would either be `http2` or `spdy` depending on the version.  `http2` was implemented in 1.9.5.  See https://www.nginx.com/blog/nginx-1-9-5/ and http://nginx.org/en/docs/http/ngx_http_spdy_module.html

[2016-03-14 21:17] mbentley opened #94 "Feature request: Add support for context roots under a hostname"
In one use case that I am looking at, supporting context roots underneath a hostname would be an ideal solution.  Looking at the templates, it looks like much of the code use for websockets could be reused to make context roots work.  I'd expect that it would work something like:

[code]

http://app.example.com/contextA

It would then allow multiple containers to serve up content under a single ho

[2016-03-15 02:48] blackxored opened #95 "Doesn't appear to restart container outside swarm"
If you run it outside swarm, both interlock and the external nginx proxy, it fails to reload/restart the container. Unless I missed a config option, I'm trying to run my LB outside of my swarm cluster until /maybe even after overlay arrives.

[2016-03-15 08:52] vixns opened #96 "Feature request: proxy protocol support"
haproxy and nginx both support proxy protocol.

Please consider adding a `interlock.protocol` label supporting `proxy` ( and maybe `http2` for nginx only, see #93)

[2016-03-15 09:07] vixns opened #97 "Feature request: basic http auth"
Please consider adding `interlock.auth_user` and `interlock.auth_password` labels.

[2016-03-15 19:52] everett-toews commented on #93
@nixelsolutions If you were able to write your own nginx template as per #91, would you be able to add http2 support to your own template yourself?

[2016-03-16 17:00] everett-toews commented on #91
@ehazlett If you think this is a good feature for Interlock, I'd be willing to start work on it. Seems like it would be best to base it on the [overlay-support](https://github.com/ehazlett/interlock/tree/overlay-support) branch.

What do you think?

[2016-03-16 19:59] ehazlett commented on #91
Ya +1.  I think it would be valuable.  Yes, please use the `overlay-support` branch as that contains a decent refactor (more tests, etc) and will be merged soon.  Thanks!

[2016-03-18 09:25] SergiuCip opened #99 "SSL"
I was wondering if you could implement multiple SSL websites and also if support SFTP?

Thanks,

Regards,
Sergiu

[2016-03-18 09:37] adamjimenez commented on #99
I achieved SSH/ SFTP by mapping a random port to each container.

[2016-03-18 09:56] SergiuCip commented on #52
Has the ng branch have been merged into the master branch, as I am unable to find it anywhere?

[2016-03-18 11:46] mbentley commented on #52
@SergiuCip yes it has.  https://github.com/ehazlett/interlock/commit/3a36c7d0ded3a1ea21552977738f7c1aa07bcc45

[2016-03-18 14:15] SergiuCip commented on #52
@mbentley Thanks for clarifying that. You wouldn't happen to know how to bring up multiple SSL NGINX Vhosts with their own SSL certs, as I have tried using the INTERLOCK_DATA as such:

INTERLOCK_DATA='{"alias_domains": ["foo.com"], "port": 443, "ssl_only": true, "warm": true}'     ehazlett/go-demo

but still keeps port 8080 instead of replacing it with 443, and I was wondering how do you pass the

[2016-03-21 16:49] liamawhite opened #101 "Nginx Example returning 503 response"
When running the NGINX example (and presumably the NGINX swarm example) I get a 503 response.

This seems to be caused by commented out server block below in the NGINX config file. When I comment out this block the example works as expected but whenever I scale the app interlock overwrites the file resulting in the 503 returning.

[code]

[2016-03-21 18:14] everett-toews commented on #101
Read [How nginx processes a request](http://nginx.org/en/docs/http/request_processing.html)

In this case your `server_name` is `test.local` meaning a client must be making a request to that domain to get routed to your containers.

Try `curl -H 'Host: test.local' http://xxx.xxx.xxx.xxx/`

[2016-03-21 18:19] ehazlett commented on #101
Yes as @everett-toews said, use host headers and it will update as containers come and go.

[2016-03-21 18:19] #101 closed

[2016-03-21 18:20] liamawhite commented on #101
@everett-toews Thanks! I figured it was something to do with my lack of nginx knowledge. I had started reading through the docs but hadn't got to that part yet.

[2016-03-21 18:35] runseb opened #102 "interlock cannot connect to engine"
Hi,

I have been trying this example https://github.com/ehazlett/interlock/tree/master/docs/examples/nginx-swarm today.
I use it on a swarm started with docker-machine. My swarm uses a consul based discovery. It works fine without interlock.

If I try the example, interlock does not seem to run:

[code]

[2016-03-21 19:01] everett-toews commented on #102
What's the `DockerURL` in your `config.toml`?

It should be `docker-machine ip swarm-master`. e.g.

    DockerURL = "tcp://192.168.99.100:2376"

[2016-03-21 19:08] ehazlett commented on #102
You will need to replace that example with your Swarm URL.  You will also
need to check if you are using TLS. There are several options; I would
recommend starting with the regular non-TLS TCP socket in Swarm (the
default) to get familiar.

On Mon, Mar 21, 2016 at 3:01 PM, Everett Toews <notifications@github.com>
wrote:

[2016-03-21 19:11] runseb commented on #102
everything is setup with docker-machine so there is TLS .

[2016-03-21 19:39] everett-toews commented on #102
I amended my above comment to be a more complete example with TLS.

[2016-03-21 19:41] runseb commented on #102
@everett-toews thanks, but those volume mounts for the CERTS are not going to work on a Swarm cluster.

All my certs are on my local machine. Those certs actually exist on the master node but I don't think there is a need to mount, and they will be the correct ones only if we bind the interlock container to the master node via constraints.

Or I am totally confused.

[2016-03-21 19:46] runseb commented on #102
Never mind, got confused (getting late)..the volume mount is local...

[2016-03-21 20:11] runseb commented on #102
ok, got a bit further. Thank @everett-toews the config worked.

However the nginx conf does not get updated with IP addresses of the containers:

[code]

This leads to an nginx conf like this:

[code]

[2016-03-21 21:34] everett-toews commented on #102
Ah. I suspect you're using an overlay network. If so, you've run into #88. Work is ongoing in the [overlay-support](https://github.com/ehazlett/interlock/tree/overlay-support) branch. You can test it out with the `ehazlett/interlock:overlay` image.

And you can work around it for now by just publishing the ports and interlock will pick them up as normal.

[2016-03-21 22:57] krishamoud opened #105 "nginx-swarm 503"
Hi!  First thank you and all contributors for this image.

Second, I have created a swarm locally using virtualbox that has 3 nodes and I used the `docker-compose.yml` file in the /docs/examples folder.

This is my `config.toml`
[code]

This is my `docker-compose.yml` file which is the same as the one in the examples folder with the exception of the added tls mount.
[code]

When I run `docker-comp

[2016-03-21 23:02] krishamoud commented on #105
Also, not sure if it matters but when I visit `http://192.168.99.170:32768/` I see the docker whale and the container that it was served from.

[2016-03-22 01:26] ehazlett commented on #105
Greetings.  You need to add an /etc/hosts entry for test.local -> the IP of
the host that is running the nginx proxy container as nginx needs to see
the host header for test.local.   For example test.local -> 192.268.99.170.
You should then be able to access it on http://test.local.

Note this isn't needed if you have DNS resolving the domain but is needed
for local deploys.
On Mar 21, 2016 18:57,

[2016-03-22 05:00] krishamoud commented on #105
Yep that fixed it.  Thank you for the response!  I knew it was something trivial.  Thanks for your time.

[2016-03-22 05:00] #105 closed

[2016-03-22 10:04] twobombs commented on #79
The port is high yet static, however, as the dynamic port allocation now works i regard this issue as closed, also because v1.0 has been released ( and this version is no longer maintained ) Will look into a 1.0 migration in the coming months. Thank you very much for all your hard work.

[2016-03-22 12:01] mbentley commented on #52
It would be something like (ignore some of the values being different):
`{"hostname": "hostname", "domain": "example.com", "ssl": true, "ssl_only": true, "ssl_certificate": "server.pem", "ssl_certificate_key": "server.key"}`

So specifically `"ssl_certificate": "server.pem", "ssl_certificate_key": "server.key"`

[2016-03-22 22:22] ehazlett commented on #88
@robbydooo there is an image available for testing overlay support.  it's not finished but you can test if you want to.  you will need to add a label to tell interlock what network it should expect the container to be in.  i.e. (`--label interlock.network=app`).  the image is available at `ehazlett/interlock:overlay`

[2016-03-22 23:33] robbydooo commented on #88
Thanks Evan, what is left to do at this stage?

[2016-03-23 01:38] krishamoud opened #106 "Compiling on OS X"
Hi again.  I cloned the repo locally and changed a few files.  I can run `make build` just fine as well as `make image` but when I try running a container I get

`ERROR: 500 Internal Server Error: Cannot start container 07e264978e89f23abce32540037d7a5a9040482113707d20bfe13026d0425502: [9] System error: exec format error`

I'm running on OS X so I looked at the Makefile and changed the `GOOS` to `d

[2016-03-23 02:29] ehazlett commented on #106
This is because Interlock runs in a container and you are building an OS X
binary.  Try setting GOOS=linux and GOARCH=amd64.  That should result in a
working image.  I had a "build-container" target in the past to build in a
container.  I will add that back.  For now, you can use the env var as a
workaround.

On Tue, Mar 22, 2016 at 9:38 PM, Kris <notifications@github.com> wrote:

[2016-03-23 04:30] krishamoud commented on #106
Sorry.  When I tried to `make build` it the first time I had GOOS=linux and GOARCH=amd64 and then ran `make image` I got the same error.

[2016-03-23 13:50] ehazlett commented on #106
There was an issue with the Makefile.  Please pull and try again.

[2016-03-23 13:51] ehazlett commented on #95
This is by design.  Interlock must run as part of the Swarm cluster as it needs the event stream to detect when containers go up/down.

[2016-03-23 13:51] #95 closed

[2016-03-23 13:53] ehazlett commented on #99
You can use multiple SSL -- it depends on your backend.  See the "SSL" options here https://github.com/ehazlett/interlock/blob/master/docs/configuration.md.

There has been request for TCP support -- that would probably help your SFTP.  No plans as far as when.

[2016-03-23 14:18] ehazlett commented on #88
@robbydooo disconnecting the proxy containers from the networks when there are no more containers.  this currently prevents removing a network because the proxy containers are always attached.

[2016-03-23 19:15] tpbowden opened #107 "Multiple SSL frontends for HAProxy"
Is there a technical reason why (as far as I can tell) it's only possible to use one SSL frontend in HAProxy whereas Nginx can configure a path to cert and key per hostname?

[2016-03-23 19:28] krishamoud commented on #106
I'm still getting the same error

[2016-03-23 20:06] ehazlett commented on #107
No technical reason.  We should just need to add to the interlock data and use SNI in haproxy.

[2016-03-24 03:43] ehazlett commented on #106
Ok pull again.  I just added a `build-container` target and set the default to build in a container.  This should result in a working image (I just tested on OS X).

[2016-03-24 03:43] #106 closed

[2016-03-24 04:08] krishamoud commented on #106
It works!  Thanks again for you help!  I appreciate it.

[2016-03-24 07:40] Tebro commented on #88
We also noticed the published ports detail the other day, and this is good news for us. But in UCP the primary way of deployment is via docker-compose, and if the proxy containers will prevent docker-compose down from working due to the network being attached that is kind of a show stopper for us at this time.

[2016-03-24 17:43] everett-toews commented on #92
Closed by https://github.com/ehazlett/interlock/commit/000291d2c7eeb6830a0769285d821978dcd9966a

[2016-03-24 17:43] #92 closed

[2016-03-24 20:41] tpbowden commented on #107
OK thanks, I'll look into it if I have enough time over the weekend

[2016-03-25 21:45] everett-toews commented on #89
I have this requirement too. Modern applications tend to be composed of multiple distinct services. Each one of those services needs its own proxy.

Currently it seems like Interlock writes the same config to all proxies of the same type (e.g. nginx). Looking at [the code for identifying proxies](https://github.com/ehazlett/interlock/blob/overlay-support/ext/lb/lb.go#L246-L251), I don't see any ot

[2016-03-27 13:17] tpbowden commented on #107
Realised this has already been implemented. HAProxy can take a directory instead of PEM file for `ssl crt`, and then uses the hostname to pick the correct file. So for `http://test.local` HAProxy would try to find a file called `<cert directory>/test.local.pem`.

[2016-03-27 13:17] #107 closed

[2016-03-28 09:58] jleuleu opened #109 "Global SSL configuration for nginx"
Is there a way to set a global configuration for SSL such that all containers are only accessible via HTTPS with the same certificate?

So far, I've only been able to set the configuration individually for each containers (see docker-compose below).
I would like to deploy several containers, one per subdomains (e.g web1.example.com, web2.example.com) and all of them should be accessible via HTTPS

[2016-03-28 14:09] ehazlett commented on #109
Due to the way interlock works you need to specify per container (or compose file, etc).  There is no global wildcard option.

[2016-03-28 14:10] #109 closed

[2016-03-28 14:10] ehazlett commented on #88
@Tebro you can still use the publish port option.

[2016-03-28 14:11] ehazlett commented on #88
@Tebro and as i said, this is experiemental as @robbydooo was asking for early access.  it's not finished but will include the disconnect from the networks.

[2016-03-29 17:02] everett-toews commented on #89
Proposal for a one to many design...

`config.toml` adds a config option for the service name. e.g.

[code]

If the `serviceName` is present, Interlock would group proxies by `serviceName`.

Containers that want to participate in a service would identify themselves with the `interlock.ext.service.name` label. e.g.

[code]

[2016-03-29 19:44] ehazlett commented on #89
I understand the request but I'm not sure on the proposal.  This means that each Interlock instance would load up all configuration and be responsible for loading its config.  What happens if no service name is presented?  What happens when the config is updates -- why should all instances need to reload each others configuration?

[2016-03-29 21:40] everett-toews commented on #89
I think I understand your concerns. And I think they revolve around the one to many nature of the design. I'll do my best to answer.

Interlock would continue to act as it does now.

Let me restate this using a concrete example using the `config.toml` above to see if I understand it. Please correct me if I'm misunderstanding.

If a container with `--label interlock.ext.service.name=order` is creat

[2016-03-29 21:43] everett-toews commented on #89
### One Interlock. One proxy.

`config.toml` adds a config option for the service name. e.g.

[code]

If the `serviceName` is present, Interlock would group proxies by `serviceName`.

If the `serviceName` is not present, Interlock would continue to act as it does now.

Containers that want to participate in a service would identify themselves with the `interlock.ext.service.name` label. e.g.

[cod

[2016-03-30 15:43] ehazlett commented on #88
PR: https://github.com/ehazlett/interlock/pull/110

[2016-04-01 22:40] nathanleclaire opened #111 "Suggestion: Caddy support"
Caddy (https://github.com/mholt/caddy) is a very cool, easy-to-use web server which should be fairly straightforward to generate an Interlock plugin for.  The main thing I think would rock about Caddy+Interlock is that it uses LetsEncrypt to serve using HTTPS by default, so you could easily bootstrap a website served using containers over SSL this way.

[2016-04-04 14:26] #88 closed

[2016-04-06 13:18] inf-rno opened #114 "Interlock does not generate/save proxy config files"
I'm deploying interlock onto a swarm in Azure using the Azure Container Service template. It is basically a swarm with one master and a couple of nodes.

Here is my compose file:

[code]

I can see the haproxy volume being created and mounted however interlock doesn't seem to generate the haproxy.cfg file and hence the haproxy service dies. Same happens if I use the nginx extension instead.

Here

[2016-04-06 14:15] ehazlett commented on #114
This can be an issue with the volume.  I've updated how the configs are sync'd in my overlay PR.  Can you try the image `ehazlett/interlock:overlay` and see if that helps?

[2016-04-08 09:18] aquavitae commented on #114
I'm having exactly the same problem using 1.1.0 with nginx.  I've also tried mounting a host folder instead of using the docker volume.

[2016-04-10 09:58] iiezhachenko opened #116 "Suggestion: Add possibility to specify external Nginx config template"
Hi,
Interlock is great!
I need Nginx config different from template used by Interlock. Would be great, if I can specify path to external template file.

Currently I'm going to try modifying existing template and rebuilding Interlock.

[2016-04-10 11:51] mbentley commented on #116
See #91(issue) and #113 (PR)

[2016-04-10 11:54] iiezhachenko commented on #116
Thanks. Missed #91 somehow.

[2016-04-10 11:54] #116 closed

[2016-04-10 21:11] Richard-Mathie opened #117 "Interlock and nginx containers must be co located with swarm manager/host with tls certs"
Is it a requirement that the interlock and nginx containers must reside on the same host which contains either a swarm manager container, or a host which has the access to the tls certs for the host which dose have the swarm manager container.

That is how are you guys doing this in the examples, as I cannot get this to work unless I do co locate these containers, or locate them from the managemen

[2016-04-11 00:31] ehazlett commented on #117
No.  You simply need to have access to Swarm.  This can be from a socket or TCP connection (most likely).  If you use TLS with Swarm, Interlock will need access to the certs as well.  You will need to specify the corresponding certs for the `TLSCACert`, `TLSCert` and `TLSKey` settings.  If you are not familiar with using TLS for Docker, see https://docs.docker.com/engine/security/https/.

Starting

[2016-04-11 00:32] ehazlett commented on #114
I will need to see logs from Interlock and the proxy containers as I can not reproduce.

[2016-04-11 00:33] ehazlett commented on #102
This should be working in the `1.1.0` release.  Closing.  Please open a new issue if you continue to have trouble.  Thanks!

[2016-04-11 00:33] #102 closed

[2016-04-11 00:34] ehazlett commented on #81
This was fixed in 1.1.0.  Closing.

[2016-04-11 00:34] #81 closed

[2016-04-11 00:34] ehazlett commented on #79
Sounds good thank you!

[2016-04-11 00:34] #79 closed

[2016-04-11 08:30] Richard-Mathie commented on #117
Hey thanks for the speedy reply

So normally how do you get those certificates onto the host which is running the interlock container?

I am instantiating my host nodes form a "management" node on aws using docker-machine. The certificates for each nodes docker engine therefore reside on this "management" node. Should I just generate some new certificates for the container to authenticate with the

[2016-04-11 10:12] mbentley commented on #117
If you're setting up a swarm cluster using docker-machine, you can actually use the certs in `/etc/docker` to talk to your cluster as they're signed for client usage as well.  For example with an older version of Interlock:

[code]

You might want to verify the names of the certs in `/etc/docker` as for all I know, they've changed recently.

[2016-04-11 10:33] Richard-Mathie commented on #117
Right yeah, just figured out `/etc/docker` works by doing `docker inspect swarm-manager`. I then got it running thanks to the latest [example ](https://github.com/ehazlett/interlock/blob/master/docs/examples/nginx/docker-compose.yml).

Interestingly you need to use
[code]
For configuration else nginx falls over on start up before interlock can attach.

Thanks for the help.

As an aside is there an

[2016-04-12 11:25] aquavitae opened #118 "Example doesn't run"
I cloned the repo, cd'd into the nginx example and run docker-compose up, but the interlock container hangs on `waiting for event stream to become ready`.  Changing the docker-compose command to `-D run` for debugging, I get this output:

[code]

Docker is definitely running and accessible:

[code]

[2016-04-12 12:11] princemaple commented on #118
seeing the same with haproxy here

[code]

[2016-04-12 12:21] princemaple commented on #118
Oh cool, the haproxy config path is addressed in https://github.com/ehazlett/interlock/pull/113.

[2016-04-12 15:23] aquavitae commented on #118
Just tried again on a brand new ubuntu 14.04 server - same issue.  I dont' see anything wrong with the config though.

[2016-04-12 16:38] ehazlett commented on #118
Ok I'll take a look.

On Tue, Apr 12, 2016 at 11:23 AM, David Townshend <notifications@github.com>
wrote:

[2016-04-12 18:51] ehazlett commented on #118
This is fixed in e55339e84.  Thanks for reporting!

[2016-04-12 18:51] #118 closed

[2016-04-12 18:53] ehazlett commented on #117
@Richard-Mathie You can use DNS wildcards.  I'm not what you mean by location labels as the browser sends a host header in order to route.  Unless you want paths on a common host.  Is that what you are looking for?

[2016-04-12 18:53] #99 closed

[2016-04-13 07:32] princemaple opened #119 "panic: runtime error: index out of range"
while it works perfectly on local boot2docker machine created by docker machine

it gives me this

[code]

on

[code]

Would you happen to know why?

I tried pulling this repo and running the examples, same error.

**EDIT:** changed `dc` to `docker-compose` to reflect that it's just an alias

[2016-04-13 07:32] princemaple commented on #119
FYI this is on a VPS on scaleway.com

[2016-04-13 07:33] ehazlett commented on #119
Ya Interlock needs to run in a container. That's the getNodeID error
although it should report a better error. I will take a look.
On Apr 13, 2016 03:32, "Po Chen" <notifications@github.com> wrote:

[2016-04-13 07:36] princemaple commented on #119
That's weird, it **is** run in a container. Hmm. Is there any other information I can provide you with?

[2016-04-13 07:36] princemaple commented on #119
And thank you so much for the super timely response.

[2016-04-13 07:37] ehazlett commented on #119
Oh odd. Can you give me some more info about the host?  Docker version, OS
etc.
On Apr 13, 2016 03:36, "Po Chen" <notifications@github.com> wrote:

[2016-04-13 07:39] ehazlett commented on #119
Yw :). It's late for me so I will check this out more in the morning. :).
Host info will help. I'll try to reproduce. Thx!
On Apr 13, 2016 03:36, "Po Chen" <notifications@github.com> wrote:

[2016-04-13 07:40] princemaple commented on #119
[code]

my compose file

[code]

[2016-04-13 07:44] princemaple commented on #119
let me know if you need more information.

[2016-04-13 07:47] princemaple commented on #119
I'm pretty noob at linux, so...

[code]

[code]

[2016-04-13 12:30] Richard-Mathie commented on #117
Yeah so what I was thinking is that there is now way of setting a location label such that you can route some locations to different services. something like this....

    #/etc/nginx/nginx.conf
    # ...
    upstream host.domain {
          zone host.domain_backend 64k;
              server 1.2.3.4:3000;
              server 1.2.3.5:3000;
    }
    upstream service.host.domain {
          zone se

[2016-04-13 13:51] ehazlett commented on #117
Oh gotcha.  Yes you can do that today (just merged the PR)

You will want to use the following options:

- `interlock.context_root`
- `interlock.context_root_rewrite`

See https://github.com/ehazlett/interlock/blob/master/docs/interlock_data.md#context-root for details.

In your example above you should be able to add `--label interlock.context_root=/service` to any container that you want to serv

[2016-04-13 13:54] ehazlett opened #120 "Better Example Documentation"
We need to improve the example docs.  They are spread out and specific to a few use cases.  We also need to explain the Interlock Data override labels as well.

[2016-04-13 13:54] ehazlett commented on #94
Fixed in #112

[2016-04-13 13:54] #94 closed

[2016-04-13 13:55] ehazlett commented on #119
Can you give me `docker info` and `docker version` as well?  Thx!

[2016-04-13 13:57] ehazlett commented on #119
Also can you run a container and give me the output of `cat /proc/self/cgroup`?  Thx

[2016-04-13 14:22] princemaple commented on #119
Docker version is 1.10.3 iirc.
I have to get the rest later. Bed time for Australia.

On Wed, 13 Apr 2016, 23:57 Evan Hazlett <notifications@github.com> wrote:

[2016-04-13 17:33] rofr commented on #120
I would love more documentation, I'm using the source which is fun but time consuming. Is there any appropriate forum for questions?

[2016-04-13 17:41] rofr commented on #73
I can start multiple tutum/hello-world containers with the same hostname and they all receive trafik from the nginx proxy. Is this issue resolved?

[2016-04-13 23:16] princemaple commented on #119
@ehazlett

`docker info`

[code]

[2016-04-13 23:22] princemaple commented on #119
[code]

Running `docker run --rm --entrypoint sh ehazlett/interlock:1.1.0 -c cat /proc/self/cgroup` doesn't seem to output anything...

[2016-04-14 00:32] princemaple commented on #119
Surprise, I upgraded the docker installation on the server to use the latest, just released 1.11, and it's working now.

[2016-04-14 00:32] #119 closed

[2016-04-14 11:22] princemaple opened #121 "[haproxy] does not seem to play well without volume"
![screenshot 2016-04-14](https://cloud.githubusercontent.com/assets/1329716/14526456/bda63140-0286-11e6-8f97-c022777b7b69.png)

[code]

[2016-04-14 11:23] princemaple commented on #121
tested on both the local virtualbox and my ubuntu vps

[2016-04-14 14:24] cnadeau commented on #114
Here is a local setup to reproduce the original issue mentioned by @inf-rno

https://github.com/cnadeau/swarmer/tree/interlock_issue_114_setup

had to tweak the script to remove the master from the swarm worker nodes and expose non TLS ports to be closer to our own setup

To create the full local swarm setup:
./deploy.sh

docker exec -it swarm-agent-n1/swarmer_interlock_1 sh

haproxy fails at firs

[2016-04-14 14:30] brugnara commented on #121
Having the very same issue here. The log says something about some missing file and in the config.toml, in fact, is in setted different location. Anyway changing that path did not resolved for me.

[code]

[2016-04-14 14:37] princemaple commented on #121
`ConfigPath = "/usr/local/etc/haproxy.cfg"` actually needs to be changed to `ConfigPath = "/usr/local/etc/haproxy/haproxy.cfg"`, this is where the official haproxy image is looking for the config file. However, after making the change, it still doesn't work for me. @brugnara I'd like to know if, with the change, it works for you.

The shell in screenshot is actually inside the boot2docker machine.

[2016-04-14 14:52] brugnara commented on #121
Thank you for sharing.

This is not working at all. I think we need mount the basic haproxy conf. [This esample doesn't even start](https://github.com/ehazlett/interlock/blob/master/docs/extensions/haproxy.md), I think the documentation is very poor for haproxy. Nginx works well. I will try to create a simple haproxy conf and I'll report the result.

[2016-04-14 16:36] princemaple commented on #121
FYI @ehazlett I did check in the haproxy container, that the configuration is there. It's just, for some reason, not really working out. One interesting thing was, I couldn't get the container (haproxy_haproxy_1) to ping haproxy_app_1 when running the haproxy example, but it works when pinging haproxy_interlock_1. This is possibly why it's not working...

[2016-04-14 16:49] pbaiz-amey commented on #117
Thanks @ehazlett, we got the context_root working. We will keep experimenting and report back if we find any problems (or have more questions).

[2016-04-14 17:00] ehazlett commented on #121
@princemaple yes the path is updated in https://github.com/ehazlett/interlock/pull/113

@brugnara i am working on a docs PR to add an entire site for interlock.  This will give much better documentation and usage examples.

Here is an screenshot from what I have been working on (still very much a WIP):

![2016-04-14-125935_2636x1459_scrot](https://cloud.githubusercontent.com/assets/260642/14536520

[2016-04-14 17:01] princemaple commented on #121
Thanks for sharing the information!

[2016-04-14 17:11] ehazlett commented on #121
You are most welcome and thanks for the feedback and for using it :)

[2016-04-14 19:28] iiezhachenko commented on #114
Looks like that is pretty common issue. Have the same in AWS with Docker Machine and Swarm.
Appeared last days.

I build Interlock by myself, in order to customise Nginx template.

[2016-04-14 19:33] everett-toews commented on #114
@iiezhachenko FWIW, you won't need to build Interlock yourself just to customize the templates once https://github.com/ehazlett/interlock/pull/113 merges (and there's an image for it).

[2016-04-14 19:36] iiezhachenko commented on #114
Well. I'm a DevOps, not Go developer. Solving my needs as I can :)
Waining for #113 to be merged. I really need that, because Nginx config is quite complex in my case.

[2016-04-15 18:03] ehazlett commented on #117
Cool thx. I'm goign to close this out.  Feel free to open another if you run into issues.

[2016-04-15 18:03] #117 closed

[2016-04-15 18:03] ehazlett commented on #114
Ok I'm going to take a look and see if I can reproduce.  Thanks.

[2016-04-17 14:27] ehazlett commented on #120
I am working on a docs PR to add an entire site for interlock.  This will give much better documentation and usage examples.

Here is an screenshot from what I have been working on (still very much a WIP):

![2016-04-14-125935_2636x1459_scrot](https://cloud.githubusercontent.com/assets/260642/14536520/ce5a96f2-0240-11e6-87eb-6b64245a8aab.png)

@rofr If you would like to add comments to this about

[2016-04-17 14:29] ehazlett commented on #73
@rofr thx for the update.  i've added this to the 1.2. milestone to confirm it's working.  thx!

[2016-04-18 21:44] #91 closed

[2016-04-19 15:05] timothysnave commented on #114
Not sure if you're still investigating this, but I also get it this problem occasionally. If I shut it down and remove the containers, then wait for a little bit and run docker-compose up again, _sometimes_ it works. It's really hit or miss, though.

[2016-04-21 11:03] danielbjornadal commented on #114
I have the same problem when using volumes and haproxy.
interlock will not generate haproxy.cfg
[code]

[2016-04-26 07:10] allencloud opened #125 "Does Interlock has a RoadMap？"
Hi, Maintainer,

Interlock is an awesome software I have ever experienced.

And I am trying more environment with interlock.

May I ask that Does Interlock has a roadmap?

Thanks in advance.

[2016-04-26 09:08] bosiwow opened #127 "Interlock only detecting events on UCP node + nginx not getting updated"
Hello,

first of all, great project you're developing.
I have some trouble setting up interlock. i.e. interlock only detects events from the UCP controller and not on the other nodes, while docker-events detects them all.

Also, for some reason the nginx loadbalancer I'm using is not getting updated by interlock. Can somebody please take a look?
The entire explanation+logs of the problem can be fo

[2016-04-26 14:20] nixelsolutions opened #128 "Add health_check to nginx"
Hey @ehazlett many thanks for this wonderful project! I'm wondering if you could add health_check on upstream configuration, as sometimes some containers keep failing with 40x or 50x error codes and those are noted by users as interlock is not dropping those failed containers from the LB pool.

It would be ideal if we could parametrize the URI, attempts, and so on :-)

Thanks a lot!

[2016-04-26 15:48] ehazlett commented on #127
Hello!  Can you try to connect it to the Swarm event stream to see if you are getting the events outside of UCP?  That way we can isolate the issue (default port for Swarm with UCP is 2376).

Also, how are you launching containers?  What labels are you specifying?

[2016-04-26 17:16] bosiwow commented on #127
Hi, thank you for your reply.
What do you mean with trying to connect it to the swarm event stream?
Right now my config.toml looks like this (192.168.123.14 is the UCP controller node)

`ListenAddr = ":8080"
DockerURL = "tcp://192.168.123.14:2376"
TLSCACert = "/certs/ca.pem"
TLSCert = "/certs/server.pem"
TLSKey = "/certs/server-key.pem"

[[Extensions]]
Name = "nginx"
ConfigPath = "/etc/nginx/nginx

[2016-04-26 17:28] ehazlett commented on #127
I believe the cert path should be `/var/lib/boot2docker/tls`.  Can you report the logs from Interlock here?  Thanks.

[2016-04-27 02:31] ehazlett commented on #128
You should be able to do it now with the `interlock.health_check` label.  Try that and see if that works.

[2016-04-27 02:34] ehazlett commented on #114
Can you try the latest `ehazlett/interlock:master` image?  I have some fixes there.

[2016-04-27 03:55] keyolk opened #130 "How to set https/tcp stream loadbalancing ?"
I'm trying to deploy some applications which uses mqtt, coap, tcp, websocket
also it uses http/https.

I follow examples in this repository and confirmed http loadbalacing works well.
and also it can proxy http to https backend.
But I failed to set https to https and other TCP stream loadbalacing.

I cant find any of documents for,
Does someone have any idea how I can solve this ?

[2016-04-27 07:30] bosiwow commented on #127
Hello,
thank you for the reply.
So here is the output of docker-machine ls
[code]

So to start I ssh'd into the esxdockerengine3. There I cloned your git repo. I changed the config.toml like in my previous post (but with serverkey.pem instead of server-key.pem) and docker-compose-v1.1.yml also like in my previous post
(but with /var/lib/boot2docker/tls as cert path).

After that I did  (not sure i

[2016-04-27 16:09] liamawhite opened #132 "High availability Interlock"
When trying to achieve a high availability application with interlock, is the expected deployment to be 'x' interlock containers and 'x' NGINX containers where x is the number of nodes in the swarm? or is it just a single interlock container with a restart policy?

I know the multiple interlock containers setup works as its how my topology currently is set up, but I assume whenever any of the inte

[2016-04-27 16:22] ehazlett commented on #132
There is actually a bit more logic.  Interlock will detect the number of Interlock instances in the Swarm cluster and divide the work of updating amongst each instance.  That is to a) scale better and b) prevent race conditions where multiple interlock instances are writing over all files.

[2016-04-27 16:29] ehazlett commented on #132
You can see this in the debug logs as:

`DEBU[0001] calculating restart across interlock nodes: num=5  ext=lb`

[2016-04-27 18:27] danielbjornadal commented on #114
@ehazlett When using the OPs configuration and :master, it create the volume and configuration, but if I start the web application in a separate docker-compose.yml file, after interlock and haproxy, it crashes saying that it cannot find the configuration file. If i try to start haproxy again, it works.

`423c997475dd        haproxy:latest               "/docker-entrypoint.s"   18 minutes ago

[2016-04-27 19:37] danielbjornadal opened #133 "interlock.alias_domain not updating haproxy.cfg"
The following will not update haproxy.cfg correctly when using volumes.

[code]

[code]

[code]

[code]

[2016-04-27 19:52] ehazlett commented on #133
What version are you running?

[2016-04-27 19:56] ehazlett commented on #133
Also can you post your interlock config as well?

[2016-04-27 19:58] ehazlett commented on #114
Remove the volume.  Starting in 1.1.0 volumes are no longer needed.  My guess is something isn't writing properly.

[2016-04-28 08:21] bosiwow commented on #127
Here are my "ucp containers", maybe I'm just listening at the wrong port?
[code]

[2016-04-28 13:22] Richard-Mathie commented on #117
oops looks like the newest master has changed a bit, and seems to be misbehaving a bit. will have to pull and build the old version.

[2016-04-28 13:46] ehazlett commented on #127
Yes sorry I didn't realize you were using boot2docker or docker machine.  Since Docker Machine uses 2376 for the local Engine ports you must use the Swarm port for interlock (in your case 3376).

As for the container ports not showing up, are you sure you used this version of the compose file?  The variable makes it sound like it's including another file and possibly overwriting some service or so

[2016-04-28 13:47] ehazlett commented on #117
@Richard-Mathie Please file an issue if you notice something.  You can also use `ehazlett/interlock:master` to check.  That is always built from master.  The latest stable release is `1.1.0`.

[2016-04-28 19:26] krishamoud opened #136 "Must restart interlock to reload nginx with the overlay network"
Hi!  First, I've been using the overlay network for a little while and it's great.  I have been running into this problem though where anytime I launch a container into the swarm I have to restart the interlock containers in order for the `nginx.conf` to get updated.

My `config.toml` looks like this:

[code]

and I launch 3 interlock containers with this command

[code]

and I also launch 3 nginx

[2016-04-29 06:27] bosiwow commented on #127
Thank you for the reply, yes I have set up /etc/hosts (otherwise i wouldn't get a 503 I guess).
What do you mean with

Which ports aren't showing up?

[2016-04-29 12:13] ehazlett commented on #127
Actually you will only get 503 when you send a host that haproxy doesn't
know.

There is no variable with that name which says that you either used a
different file or something is being included that would cause that error.

I created an example specifically for UCP. It happens to use Docker Machine
but you can get it to work with non Docker Machine with minimal effort
(change the Swarm host). Th

[2016-05-01 15:00] LAndreas opened #137 "Missing documentation for `interlock.network` label"
I played with interlock and 'Docker for Mac' + docker-compose. To make this work I needed to use the undocumented `interlock.network` label (I found it in the source). This worked great for me and I was wondering why this label is not documented. Is there any reason for this?

[2016-05-02 15:42] ahromis opened #138 "Index out of range"
Getting the following error from interlock when launching containers using interlock `interlock 1.2.0-dev (2395631)`.  Using b2d with the Virtualbox provider from my mac.  Doesn't happen often, usually have to remove the interlock container and relaunch it to make this error go away.

[code]

[2016-05-03 07:10] allencloud opened #139 "Can interlock deal a container with multi ports exposed ?"
Hi,

When an image is exposed exactly one port, interlock works perfectly.

Does interlock have a plan to support multi ports exposed container?

[2016-05-03 07:22] princemaple commented on #111
There is also [this feature](https://github.com/mholt/caddy/pull/564) waiting to be merged in caddy. It seems that the merge won't happen until 1.0, but when it does, interlock won't be necessary for caddy to dynamically proxy containers if you have service discovery in place, which you probably do if you want to use swarm.

If the support for caddy can happen any time soon, it will be very useful

[2016-05-03 07:26] princemaple commented on #138
this could have already been fixed in https://github.com/ehazlett/interlock/commit/23956318c7109cf8127bad95182f81cfe1696ff8

but haproxy isn't working yet, I'm also waiting for updates. see [my issue there](https://github.com/ehazlett/interlock/issues/121)

[2016-05-03 09:55] lukad opened #140 "Config generators should check if exposed ports have bindings"
When I run a container that is loadbalanced through interlock via `docker-compose run` it does not create any bindings for the exposed ports. This leads to interlock generating an invalid upstream address because it does only check if ports are exposed and not if they have bindings.
I will submit a pull request with a fix.

[2016-05-03 11:57] #140 closed

[2016-05-03 12:01] ehazlett commented on #121
@princemaple Could you try the ehazlett/interlock:master image?  I have some updates with how it detects and restarts the proxies. I want to see if this fixes your issue.

[2016-05-03 13:05] tpbowden commented on #137
Out of interest what is it for?

[2016-05-03 13:27] ehazlett commented on #130
Currently only http is supported.  TCP is on the roadmap but no ETA.

[2016-05-03 13:27] #130 closed

[2016-05-03 13:29] ehazlett commented on #137
ugh looks like this was lost in a commit.  i will add it.

@tpbowden this is for using the Docker overlay network instead of exposing externally accessible ports.

[2016-05-03 13:30] ehazlett commented on #139
Since you can only have a certain set of upstreams per backend in nginx/haproxy only a single port is supported with interlock.  You can launch multiple containers and configure different host names for each.

[2016-05-03 13:30] #139 closed

[2016-05-03 13:32] ehazlett commented on #136
I've seen this happen when the event stream becomes unstable from Swarm.  Can you try restarting your Swarm manager and interlock (after restarting Swarm) and see if the issue persists?

FWIW I have a working branch to at least warn when events aren't seen.  It's not perfect but would at least give warning.

[2016-05-03 14:21] arhea commented on #127
I am experiencing this issue as well with UCP deployed to a cluster of Red Hat Servers.

Steps to Reproduce:
1. Deploy Interlock and Nginx
2. Start other applications. Everything loads through the proxy no issues.
3. Restart the containers through the UCP UI or through docker-compose and I receive a 502 Bad Gateway. Upon investigating the logs I notice that the port number doesn't align to that di

[2016-05-03 14:31] ahromis commented on #138
After more troubleshooting yesterday I'm pretty sure it happens when I run one off containers from docker-compose, since no ports are exposed we get the above error.  Would maybe setting an environment variable when running one off containers, effectively omitting it from interlock, be a way to fix this?

[2016-05-03 14:42] LAndreas commented on #138
@ahromis it sounds like PR #141 could fix your problem?

[2016-05-03 14:45] ahromis commented on #138
@LAndreas thanks I didn't catch that!  It looks like it probably would fix the issue I'm seeing.  I'll try it out and close this issue if it does.

[2016-05-03 14:55] ehazlett commented on #138
@ahromis yes i just pushed the latest to `ehazlett/interlock:master` which includes #141.

[2016-05-03 17:42] krishamoud commented on #136
Wow!  That worked perfectly.  Thanks!

[2016-05-03 17:42] #136 closed

[2016-05-03 17:53] krishamoud commented on #136
Quick question, what could/would cause the event stream to become unstable?

[2016-05-03 20:31] ahromis commented on #138
Yep, it resolves my issue.  Thanks @lukad and @ehazlett !

[2016-05-03 20:31] #138 closed

[2016-05-03 21:40] ehazlett commented on #136
I'm not sure. I'll ping the swarm team to see if they have any ideas.

[2016-05-03 22:32] chromerobv opened #142 "adding custom options to template"
is there anyway to add some custom options to the nginx config for each container?
for instance i need an "add_header" option for each container to add some Access-Control-Allow-* options.

thanks!

[2016-05-03 22:46] chromerobv commented on #142
sorry should have been more specific i need to allow  CORS requests to the containers.

[2016-05-04 00:48] chromerobv commented on #69
hate to res an old topic but i am having trouble with build.

# make build
# github.com/ehazlett/interlock/ext/lb
../../ext/lb/lb.go:375: l.client.CopyToContainer undefined (type *dockerclient.DockerClient has no field or method CopyToContainer)
make: *** [build-static] Error 2

[2016-05-04 00:57] chromerobv opened #143 "make build"
had some problems with make build. first it looks like it is missing some repos

i.e.
[code]

once i take care of making sure those exist i get
[code]

[2016-05-04 03:05] princemaple commented on #121
Hi @ehazlett thanks for the update. I tested it locally in boot2docker with docker 1.11.1 and it works as expected. When I tested the same config on a VPS with Ubuntu 15.10, docker 1.11.1, the haproxy seems to fail to find the backend server and keeps giving me 503. Same problem (well, similar, 502) happened when I tried Caddy yesterday, I used Caddy to replace interlock+haproxy to test its auto h

[2016-05-04 03:50] ehazlett commented on #125
We don't yet have an "official" roadmap but we do plan the releases using the milestones.

[2016-05-04 03:50] #125 closed

[2016-05-04 03:53] ehazlett commented on #127
@arhea are you getting events from the manager?  I've seen occasional issues where the Swarm event stream stops sending events.  Restarting the Swarm managers and then Interlock (after) usually fixes.

[2016-05-04 04:57] princemaple commented on #121
Actually, I was simply being stupid :)
It's returning 503 because I didn't change the hostname in the compose file to my staging hostname.

Now I just need to figure out what happened to Caddy...
Interlock is all good :) Thanks @ehazlett

[2016-05-04 06:40] princemaple commented on #133
I'm having the same problem with interlock:master

when there is `interlock.hostname` and `interlock.domain` it works
when I add `interlock.alias_domain` it stops working.

[2016-05-04 07:09] ehazlett commented on #127
Ok I found a bug in the restart logic for the proxies.  I've fixed and updated `ehazlett/interlock:master`.  Can you try that and see if it solves the issue?  Sorry and thanks for your patience :)

[2016-05-04 07:10] ehazlett commented on #121
FYI I fixed a bug with the proxy restart logic on master.  You can test with `ehazlett/interlock:master` if you like.  Thanks for the update.  I'll close this for now.

[2016-05-04 07:10] #121 closed

[2016-05-04 07:11] ehazlett commented on #133
@princemaple hmm thx.  there was a PR merged recently that affected those.  i'll take a look.

[2016-05-04 07:14] ehazlett commented on #143
I would suggest to build from the container.  It has the proper vendored dependencies and uses a default build environment.  You can use `make build-container`.

[2016-05-04 07:14] #143 closed

[2016-05-04 07:33] ehazlett commented on #133
Thanks for checking. I'll take a look.
On May 4, 2016 02:40, "Po Chen" <notifications@github.com> wrote:

[2016-05-04 07:43] princemaple commented on #133
By https://github.com/ehazlett/interlock/commit/2a798176564b0ae8a47f7f21e77fd57279b53abd ehazlett/interlock:master 8b549764478f, haproxy still works :+1: no regression. The problem with alias_domain persists. (not that I expected the big merge fixed this problem, just an FYI)

[2016-05-04 07:55] princemaple commented on #142
this functionality seems to be covered by https://github.com/ehazlett/interlock/pull/124 already?

[2016-05-04 07:56] princemaple commented on #142
unless you want per-container configuration

[2016-05-04 16:24] arhea commented on #127
@ehazlett I haven't look into it that deep. My current inspection just shows that after restart of a container and the port number changes that new port isn't reflected in the nginx configuration. I have switched our development environment over to the master image and I will monitor the logs next time (if it pops up) and pass those along.

[2016-05-04 18:02] ehazlett commented on #127
@arhea awesome thank you for the update!

[2016-05-05 21:15] chromerobv commented on #114
having similar problems. which volumes are no longer needed ?

[2016-05-06 00:08] ehazlett commented on #114
The ones that map to the proxy configs. Nginx or haproxy. That shouldn't
matter but I've seen some odd behavior. Also try using the latest
ehazlett/interlock:master to see if that helps. There are a couple of fixes
in there for reloading.
On May 5, 2016 17:15, "chromerobv" <notifications@github.com> wrote:

[2016-05-06 00:16] chromerobv commented on #114
yeah i have the latest master. i get no nginx.conf made.

and just to clarify i should do something like this ?

[code]

basically removing the     -v nginx:/etc/conf

[2016-05-06 00:55] ehazlett commented on #114
Correct
On May 5, 2016 20:16, "chromerobv" <notifications@github.com> wrote:

[2016-05-06 00:57] chromerobv commented on #114
nope. still no config.
[code]

says it's doing it but no file is made.

[2016-05-06 00:58] ehazlett commented on #114
Can you post your interlock config?
On May 5, 2016 20:57, "chromerobv" <notifications@github.com> wrote:

[2016-05-06 00:58] chromerobv commented on #114
ListenAddr = ":8080"
DockerURL = "tcp://ops-docker:2375"
AllowInsecure = true
EnableMetrics = false

[[Extensions]]
  Name = "nginx"
  TemplatePath = "/etc/interlock/nginx.conf.template"
  ConfigPath = "/etc/nginx.conf"
  PidPath = "/etc/conf/nginx.pid"
  BackendOverrideAddress = "192.168.100.229"

[2016-05-06 00:58] ehazlett commented on #114
It's not finding any proxy containers.
On May 5, 2016 20:58, "Evan Hazlett" <ejhazlett@gmail.com> wrote:

[2016-05-06 00:59] ehazlett commented on #114
What does docker -H tcp://ops-docker:2375 ps report?
On May 5, 2016 20:58, "chromerobv" <notifications@github.com> wrote:

[2016-05-06 01:13] chromerobv commented on #114
so if i don't use the -v nginx:/etc/conf how should i start the nginx container? where do i point it to find the config ?

[2016-05-06 01:49] ehazlett commented on #114
See an example here:
https://github.com/ehazlett/interlock/blob/master/docs/examples/nginx-swarm-machine/

On Thu, May 5, 2016 at 9:13 PM, chromerobv <notifications@github.com> wrote:

[2016-05-06 02:59] chromerobv commented on #128
looking thru code looks like interlock.health_check is only for haproxy.
the only way i think to do this would be to use an nginx image that is built with nginx-upstream_check and then add code the interlock to use the variables and add some code to the template. i've done this for a standalone nginx-proxy if you'd like me add it to interlock.

[2016-05-06 12:12] paulopez78 commented on #114
Hi, I'm having the same issue.
When I don't use docker swarm it regenerates the nginx.conf file but when I use the swarm it doesn't work.
I've tried with a lot of configurations and different versions of interlock (including master)
When using docker swarm in the interlock logs you can see the events when you scale your containers but nginx.conf is not updated with these events.

that's the docker

[2016-05-06 20:05] chromerobv opened #144 "interlock doesn't reload proxy if it comes up after everything"
so while testing everything out i came across a scenario where if i have everything running and then destroy my nginx proxy and start a new one, interlock will notice a proxy has come up and will not reload its config. i have to restart interlock for it to work.

i'm not sure if this is by design but i would think if a proxy comes up and interlock sees it, it should reload its config instantly.

[2016-05-06 20:05] chromerobv commented on #142
yup thanks!

[2016-05-06 20:05] #142 closed

[2016-05-10 06:20] wenlock opened #145 "trying out ucp example throwing error 'Please create the volume manually'"
Hey, I'm trying to use interlock on UCP 1.1 instance.   I'm getting this error output

[code]

This is the command I'm trying:
[code]

I made some slight adjustments to the docker-compose.yml in the example,  but it should be about the same.

[code]

This is the docker compose version:
[code]

Any ideas on why compose is telling me to create the volume?

[2016-05-10 08:38] tomskip123 opened #146 "Interlock Nginx config loading... config not found"
I've tried the newest docker-compose file with the 1.1.0 version, and i'm getting an error /etc/interlock/config.toml do i have to mount it myself?

I'm testing it on an amazon ec2 if that makes a difference.

[2016-05-10 10:58] demaniak opened #147 "haproxy fails to startup: Could not open configuration file /usr/local/etc/haproxy/haproxy.cfg"
How to reproduce:

- Clone this repo
- cd into `docs/examples/haproxy`folder
- run `docker-compose up`

It might be that I missed something?

[2016-05-10 11:08] demaniak commented on #114
I might be doing something stupid, but it seems this can be re-produced just with the example setup (see #147 )

[2016-05-10 12:46] demaniak commented on #147
The nginx example works fine.

[2016-05-10 17:50] ehazlett commented on #144
hmm ok this might be a bug. i'll investigate.  thx for reporting!

[2016-05-10 18:10] everett-toews commented on #144
There's a fix for this bug in my multi-interlock config PR at https://github.com/ehazlett/interlock/pull/123/files#diff-080cac5c72ef5c53a6cc07f1d4c8a15aL466

[2016-05-10 18:45] everett-toews commented on #146
Yep. And the docker-compose.yml file already [does that for you](https://github.com/ehazlett/interlock/blob/master/docs/examples/nginx/docker-compose.yml#L7).

[code]

[2016-05-10 18:47] tomskip123 commented on #146
yeah... i was executing the file in the command which was overriding my environment variable. Thanks

[2016-05-10 18:47] #146 closed

[2016-05-10 19:34] demaniak opened #148 "nginx customized template ignored"
Might relate to #114 , #147

Basically, working from the nginx example, I am unable to get interlock to use a custom template for nginx configuration generation.

Example compose file slightly modified as follows:

[code]

The template found in the running `interlock` container is correct, but the config generated for nginx on a docker event completely ommits any changes applied to the template.

[2016-05-10 19:50] ehazlett commented on #145
Can you give the output of `echo $DOCKER_HOST`?  It doesn't look like you are configured to use UCP.

Also, you need to `export` those variables as I believe compose will subshell out.  See the warning where compose is setting to an empty string.

[2016-05-10 19:53] everett-toews commented on #148
@ehazlett set the milestone for https://github.com/ehazlett/interlock/pull/124 to 1.2 so I expect external templates are not in `ehazlett/interlock:1.1.0` yet.

[2016-05-10 20:02] demaniak commented on #148
Ah bugger.

Ok, as an imperfect work-a-round I realized I can add some config to the `/etc/nginx/conf.d` folder.

Obviously this will not be suffice for everybody, but luckily for my current use case (just adding basic http auth!) this will suffice for now.

I will close this issue then in favour or #124 (don't know how I missed that one - I DID look for an existing issue!).

Thanks @everett-toews

[2016-05-10 20:02] #148 closed

[2016-05-10 20:07] wenlock commented on #145
Normal docker commands are working good.  Here is the output for `echo $DOCKER_HOST`

[code]

I updated the command and compose file im using as well based on some of the swarm examples.   Here is what i have:

[code]

Here is what i have for output:
[code]

I do have a workaround , which is to use `docker run -v ucp-node-certs:/certs busybox sh`, then copy the certs and insert them into the volum

[2016-05-10 20:12] chromerobv commented on #144
great! nice work!

[2016-05-11 00:24] ehazlett commented on #145
Ok this looks like an issue with compose.  I've updated the example to revert back to the version 1 format and it's working fine from here.  Please try again and see if you run into the same thing.  I've pinged the compose team to see if they can confirm the issue.

[2016-05-11 05:11] wenlock commented on #145
@ehazlett you rock!  it works :dancer:

Feel free to close this one, or do what's needed.  Much appreciated.

[2016-05-11 09:27] ehazlett commented on #145
thanks!

[2016-05-11 09:27] #145 closed

[2016-05-11 16:31] tomskip123 opened #149 "Interlock removing network config of nginx container."
I think this may be a replication of #88

here is the network settings of my nginx container

[code]

Networks is empty... so it doesn't work with my overlay network. so i have to keep reconnecting it to the network.

then i see this entry in interlock logs

`interlock_1  | DEBU[0001] disconnecting proxy container from network: id=LONG_STRING_ID net=code_toolkit-net  ext=lb
`

why is this doing th

[2016-05-11 20:27] ehazlett commented on #144
I just checked this in master and it's working fine.  Can you please try the latest (`ehazlett/interlock:1.1.1`) and see if it persists?  Thanks!

[2016-05-11 20:27] #144 closed

[2016-05-11 20:29] ehazlett commented on #149
So this happens when you use Interlock in the overlay mode.  Basically it checks to see if there are any containers bound to that network and removes the proxy so the network can be removed if desired.  This looks like a bug as this shouldn't be happening unless you use the `interlock.network` label.  Thanks for reporting!

[2016-05-11 20:29] ehazlett commented on #147
Hmm maybe something changed with the image.  I'll see if I can reproduce.  Thanks for reporting!

[2016-05-11 20:50] demaniak commented on #149
May or may not be related, but I know that nginx-based project of Mr Wilder has a similar appearing issue.
See https://github.com/jwilder/nginx-proxy/issues/304

[2016-05-11 21:57] everett-toews commented on #148
@demaniak I don't know if you noticed or not but it was just released in [1.1.1](https://github.com/ehazlett/interlock/releases/tag/v1.1.1) and the `ehazlett/interlock:1.1.1` image.

[2016-05-11 22:16] ehazlett commented on #148
Correct. 1.1.1 was released to fix some unrelated bugs and has this
included.
On May 11, 2016 14:57, "Everett Toews" <notifications@github.com> wrote:

[2016-05-12 02:52] krishamoud commented on #73
I've found this bug myself with `interlock:master`.  To reproduce this start 2 containers with the same hostname.  This will work as expected but then if you stop the nginx container and try to start it again it will crash with the error printed above.

[2016-05-12 06:36] demaniak commented on #148
Thank you @ehazlett - I did actually see :)
Going to try later today!

[2016-05-12 13:24] Beastie71 commented on #89
Looks like from the comments this will make it into 1.2 is that correct?

[2016-05-12 15:31] ehazlett commented on #89
Yes once it's finished review the PR will be merged and available in 1.2.
On May 12, 2016 06:24, "Beastie71" <notifications@github.com> wrote:

[2016-05-12 16:54] ehazlett commented on #73
In testing master I cannot reproduce.  I am using the sample compose config in `docs/examples`.  I set the `hostname=foo` and scaled to 10 containers.  I then restarted nginx and everything worked.  I'm not seeing this.  @krishamoud / @adamjimenez  Do you have an example compose or setup I can use to re-create?

[2016-05-13 06:07] bosiwow opened #150 "Question about multiple interlock 1.1 containers"
I was wondering if I have multiple interlock 1.1 containers running, I don't think it uses a shared db between the containers, or am I wrong?
Does this mean that when there is a new event on the swarm controller, every interlock container should be notified? Isn't that inefficient?

[2016-05-13 10:14] ehazlett commented on #150
It's slightly smarter than that.  We inspect the Swarm cluster and calculate the number of Interlock containers.  Each Interlock container takes a slice of the proxy containers to restart and then divides the work. https://github.com/ehazlett/interlock/blob/master/ext/lb/lb.go#L441

[2016-05-13 10:14] #150 closed

[2016-05-13 10:15] ehazlett commented on #128
Yes we could extend the label to work for nginx.  A contribution would be much apprecitated! :)

[2016-05-13 10:33] ehazlett commented on #147
Ok I've made some updates to the examples and this works for me.  You will still notice the error as the HAProxy official image does not ship with a default config file however Interlock will generate upon start and create one for HAProxy.  It will then restart the container and it should start.  Please re-open if you continue to have issues.  Thanks!

[2016-05-13 10:33] #147 closed

[2016-05-13 10:33] #132 closed

[2016-05-13 12:27] demaniak commented on #147
ah ok!

I tried it earlier today - was still broken, but before I could comment here, had to run out to a meeting.

JUST tried master now, seems to be coming up as detailed.

Thank you @ehazlett !

[2016-05-13 13:07] demaniak commented on #149
Just to be clear - does this mean nginx (and haProxy) is not really feasible when using overlay network?

[2016-05-13 18:17] ehazlett commented on #149
No they are completely fine to use with overlay. I haven't been able to
reproduce. I need to dig some more.
On May 13, 2016 9:07 AM, "Hendrik Coetzee" <notifications@github.com> wrote:

[2016-05-13 18:17] ehazlett commented on #147
Yw. Thanks!
On May 13, 2016 8:27 AM, "Hendrik Coetzee" <notifications@github.com> wrote:

[2016-05-14 18:30] demaniak commented on #149
@ehazlett I can verify that this issue does happen.

My setup is:

- multihost swarm, with overlay networking
- interlock+nginx
- docker-compse (goes without saying I suppose)
- externally created overlay network (10.9.0.0/16)

So, when the whole shebang starts up (about 8 services), nginx is non responsive.
Inspecting the network with `docker exec c29f5cd2257d ip addr` yields:
[code]

Ok, so then

[2016-05-14 19:52] ehazlett commented on #149
Ok Thanks.  Can you share the compose file you are using?  I'm trying to
find what networks are define for each service.

On Sat, May 14, 2016 at 11:30 AM, Hendrik Coetzee <notifications@github.com>
wrote:

[2016-05-14 20:07] demaniak commented on #149
Overlay network created with
`docker network create --driver overlay --subnet=10.9.0.0/16 dev-net`

Had to clean up the compose file a bit to protect the innocent and the guilt, it should all be consistent still though (I hope). Also, nothing pertinent was removed.
The consul discovery container is started up outside of the swarm, and as far as I can tell is doing what it should be doing.

Hope it

[2016-05-16 16:30] tomskip123 commented on #149
I did similar steps to @demaniak i created an external overlay network `--subnet=10.0.9.0/24` then ran my `docker-compose up -d nginx && docker-compose up -d interlock`

So different subnet. That shouldn't effect it should it?

[2016-05-16 17:20] nicolaka opened #151 "Support TCP load balancing"
There is a use case for supporting TCP load balancing (e.g RabbitMQ cluster). Can it be added to Interlock ? or is this a feature of the lb itself (haproxy/nginx..etc).

[2016-05-16 23:38] anokun7 opened #152 "Feature request: Add ability to map external vanity URL(s) to internal service URL(s) based on the context."
In some use cases, applications may not want to reveal the internal service specific URL that maps to the containers. The service URL would be hidden under a vanity URL and through URL rewriting, the request would be routed to the specific set of containers through interlock/nginx, based on the context path following the URL/domain. Without this layer, users would need to configure an additional r

[2016-05-16 23:43] anokun7 opened #153 "Feature request: Add ability to configure multiple context_root's for each container"
When migrating legacy apps, that have not necessarily been decomposed into fine grained micro-services, it would be required to configure multiple context roots for each container. Currently the `interlock.context_root` takes a string as the value. If this can be made to accept a list, it should address this feature request.

For eg: Both `app.dit.configuration.example.com/v1/service` & `app.dit.c

[2016-05-17 13:55] ermaker opened #154 "unmarshal failed when set ulimit with -1"
This works: (very simliar to [Swarm Example])

[code]

But when setting ulimit to -1 (-1 means `unlimited` and there is no way to set to `unlimited`), interlock fails.

[code]

I think interlock does not handle the value `-1` (which means `unlimited`), and I hope interlock handles it.
I attached my environment and container which make fail.

Thank you.

[code]

[Swarm Example]: https://github.com/

[2016-05-17 17:10] ehazlett commented on #154
It's trying to convert to a `uint`.  Try setting it to "-1".  (add the quotes so it's a string.  this should get passed to the engine).

[2016-05-17 17:12] ehazlett commented on #152
This seems like a very very specific use case.  You should be able to just add an "alias domain" and not try to hack the context root.  I haven't seen any other use case where someone mangles the host name based upon a path.

[2016-05-17 17:13] ehazlett commented on #153
Just to understand better, you have two separate contexts that you want to point at the same containers?  Why not use a redirect?

[2016-05-17 17:15] ehazlett commented on #151
At one time there was a branch that enabled TCP support.  However, most people don't realize the implications for TCP load balancing.  For example, you have to dedicate ports on specific machines because you cannot use HTTP host headers.  It's doable but limits what Interlock can do as far as ease of use.

Typically you don't want to expose these to the end user.  Is the intent here to expose exte

[2016-05-17 17:19] ehazlett commented on #149
I was wondering how you were routing between subnets since the external is on a /16.  As long as the proxy container has a container attached it won't be removed.  However, if there are no more referenced containers also attached to the network it will remove the proxy container from it.  The proxy container is intended to be a "black box" in that Interlock assumes full management over it.

[2016-05-17 21:13] ermaker commented on #154
Trying setting it to "-1" fails on docker-compose.

[code]

Also fails without docker-compose. option "-1" converts to `int`, neither `uint` nor `string`.

[code]

I think it may be a bug for samalba/dockerclient, Because the types defined between dockerclient and docker/go-unit are different.

* https://github.com/samalba/dockerclient/blob/master/types.go#L516-L520
* https://github.com/docker/go-

[2016-05-18 08:06] pablo-ruth commented on #149
Same problem here, I tried to use v1.1.1 without overlay support (I don't set any interlock.network label) and when Interlock container restart proxy container, all network interfaces are dropped so the proxy is unreachable from outside. Tell me if I can help you with some more infos.

[2016-05-18 15:28] deuch commented on #127
Hi guy, doesn't seem to work in my setup (3 UCP Controllers and 5 UCP Nodes). If i deploy interlock+ nginx on my node, only containers deployed on the UCP Controllers are detected by Interlock ... Every container deployed on the 5 UCP nodes are not detected by Interlock.

I'm using UCP 1.1.0, set my master controller FQDN as UCP_URL for interlock (port 2376). My cluster works fine in UCP, i can de

[2016-05-18 15:39] ehazlett commented on #127
I've seen this happen when the Swarm event stream stops sending events.
Try restarting your Swarm managers (one at a time for leader election).  It
should come back.

On Wed, May 18, 2016 at 11:28 AM, deuch <notifications@github.com> wrote:

[2016-05-18 15:40] arhea commented on #127
@ehazlett the latest cut of 1.1.1 seems to be working great. No issues on my end.

[2016-05-18 21:26] krishamoud commented on #73
Hey sorry I'm getting back to this so late.  I'm not sure if this issue is the same as the one this thread started on but I have been able to reproduce it.  It appears to be a websocket endpoint issue.

[code]

If you run the above it will work as expected.  If you scale it, it will also work as expected but if you restart nginx it will crash with this error
[code]

However if you run this instead

[2016-05-19 21:25] blasterpal opened #158 "ContextRoot path does not account for multiple domains using same path - feature suggestion"
### Problem

https://github.com/ehazlett/interlock/blob/master/docs/interlock_data.md#context-root

Based on my experimentation, using `ContextRoot` doesn't support multiple hosts nor domains for same
path as stated. It would be nice to have context and domain/host.

The current code (v1.1.1) replaces `Domain` with the `ContextRoot`:  https://github.com/ehazlett/interlock/blob/b2b86fb042520535ba5e

[2016-05-20 21:45] arhea commented on #151
For specific needs you could run an instance of HAProxy / NGINX with a custom template as a work around? I do share the desire to do TCP LB for things such as databases or redis. I also think that if someone is comfortable with TCP load balancing they should understand how to configure that. That being said, what if interlock provided a way to specify `mode=tcp` and `external_port=5432`. So rather

[2016-05-23 17:36] ksketo opened #159 "Interlock fails to startup: level=fatal msg="read /etc/interlock/config.toml: is a directory""
I am trying to run the haproxy example. Both the haproxy and interlock image fail to startup. Interlock fails with:

`level=fatal msg="read /etc/interlock/config.toml: is a directory"`

and haproxy with:

[code]

When I run `docker-compose up -d interlock` the container starts. However if I remove the container and run the same command, I get the error that config.toml is a directory.

Edit:
I run

[2016-05-23 22:03] krishamoud opened #160 "301 Redirects NGINX"
Currently there is only one default route and that is to the 503 page.  I was wondering what the thoughts were for other default routes, e.g.

[code]

This could be useful for redirecting from the naked domain to the `www` domain.

I have a temporary solution which is
[code]

but this doesn't seem great because it just creates another web server at the naked domain instead of a simple 301 redirect

[2016-05-24 01:09] ehazlett commented on #160
I use the alias domain label which achieves the same thing and reuses the
same containers.

I'm up for others but it gets a bit implementation specific depending on
the usage.
On May 23, 2016 6:03 PM, "Kris" <notifications@github.com> wrote:

[2016-05-24 01:46] krishamoud commented on #160
Yeah that worked exactly as you said.  Thanks!

[2016-05-24 01:46] #160 closed

[2016-05-24 01:59] ehazlett commented on #160
:+1:

[2016-05-25 18:57] yongshin commented on #149
I've also tried the same with Docker 1.11.1 and wrote up reproducible steps here: https://github.com/yongshin/docker-node-app-swarm-nginx

This is what I see in my docker-compose logs:

[code]

[2016-05-26 09:34] pbaiz-amey opened #162 "Feature Request: Nginx Location options Deny and Allow IPs"
Would it be possible to add the following extensions:

interlock.location_deny =
interlock.location_allow =

See more details about these Nginx options in the link below:
https://www.nginx.com/resources/admin-guide/restricting-access/

This feature request is potentially related to #97 (basic auth).

[2016-05-26 12:18] maanenh opened #163 "Interlock does not generate /etc/nginx/nginx.conf for nginx"
I am testing with a configuration on Ubuntu 14.04.4 LTS .

Situation is that swarm manager, interlock and nginx are all on the same server.
I tried al lot of different options and different interlock versions.
Only with version 1.0.1 I got it working. With newer version I got next message in the log

[code]

docker-compose file and interlock log are attached

[docker-compose.yml.txt](https://githu

[2016-05-26 12:51] ehazlett commented on #163
There was a bug fixed recently that sounds like it would fix this. Can you
try the ehazlett/interlock:1.1.3 image?
On May 26, 2016 08:19, "hanno" <notifications@github.com> wrote:

[2016-05-26 13:34] maanenh commented on #163
I used already the 1.1.3 version. See the docker-compose fragment below

[code]

[2016-05-26 14:07] ehazlett commented on #163
You have to run interlock on the same swarm as the proxy containers otherwise interlock cannot find them to restart.  You can see that it doesn't find any.

[2016-05-26 14:07] ehazlett commented on #163
Next time please paste inline.

[2016-05-26 14:45] maanenh commented on #163
Thanks for the quick response.
I deployed the interlock container now on the docker-swarm and it works.
I followed the 'tutorial' at https://docs.docker.com/swarm/swarm_at_scale/deploy-app/ and in that description interlock was deployed directly on the docker engine

[2016-05-26 15:29] ehazlett commented on #163
Hmm ok I will see if we can get that updated.  Sorry!

On Thu, May 26, 2016 at 10:45 AM, hanno <notifications@github.com> wrote:

[2016-05-27 14:34] amsdard commented on #149
Hi guys,

I have very same problem, whenever interlock reloads nginx it drops all its networks.

Info:
docker-compose: 1.7.1
docker sever version: 1.11.1
swarm/1.2.2

[code]

Swarm contains 2 nodes (virtual boxes) created by docker machine, with generic driver:
[code]

Interlock logs:
[code]

Running containers:
[code]

Docker Inspect of nginx:
[code]

Reconnecting to default network:
[code]

solv

[2016-05-27 17:54] #163 closed

[2016-05-27 17:55] ehazlett commented on #159
Can you give more info on how you are starting this?  Are you doing this remotely and using the bind mount?  If so, Docker will create a directory instead.

[2016-05-27 17:57] ehazlett commented on #149
Ok I've updated and created a test image (`ehazlett/interlock:test`).  Can you try this image and see if it fixes?  If so, I'll merge and it will be in 1.2.

[2016-05-27 18:08] amsdard commented on #149
Looks like it works! At least on my swarm setup. Big thanks!

[2016-05-27 18:10] ehazlett commented on #127
@arhea thanks!  i'm going to close this as I cannot duplicate.  please re-open or open a new issue if you experience again.

[2016-05-27 18:10] #127 closed

[2016-05-27 20:15] krishamoud opened #164 "Default 503 SSL"
If you have SSL on a subdomain and you remove it, when you refresh the page, instead of going to a 503 page, it will find the next domain with SSL.  It should be possible to have SSL on the 503 page to allow the removal of a subdomain and still have it route to the 503 page.

[2016-05-27 20:19] krishamoud commented on #164
This should not be mandatory in case you don't own a wildcard ssl cert.

[2016-05-27 20:31] yongshin commented on #149
I also verified it works for me on my swarm setup as well.

[2016-05-27 23:43] ehazlett commented on #149
Awesome thanks for replying!
On May 27, 2016 16:31, "David Yu" <notifications@github.com> wrote:

[2016-05-28 13:41] amsdard opened #165 "Nginx config not reloaded"
Hi,

don't know what I'm doing wrong but nginx config is not always being reloaded. I'm testing it on a simple swarm setup (master + 1 node). When I run app container on the same node as interlock and nginx everything is fine, but if I run it on other node, nginx is not reloaded, there is no event logged by interlock.

Weird thing is that if I first start app container  and then start interlock wi

[2016-05-28 19:07] ehazlett commented on #165
Make sure interlock is running on the swarm or it won't be able to find the proxy containers.

[2016-05-28 19:43] ehazlett commented on #158
When I first did the feature the requirements given were extremely vague. I think not mutating the domain is the best thing. Thanks for the feedback!

[2016-05-29 08:11] amsdard commented on #165
By swarm do you mean swarm manager node or any swarm node? If the latter then I'm always running it on swarm.  I've also tried to run it on swarm manager, but still same problem occurs.

[2016-05-30 11:41] deuch opened #167 "Feature request : Extension to register service in Consul"
Hello,

It would be nice to have a interlock extension to be able to register container directly in a Consul (for micro-services for example, or other components).

Does it make sense for you ? A registrator is limited to a local engine and not the swarm cluster ...

[2016-05-31 09:39] tomskip123 commented on #149
Great! It works on my swarm cluster as well. how long do you think until you release 1.2. I will be running the test image on my production cluster until then. Is that risky?

[2016-06-01 11:24] TheBellman commented on #159
Have hit the same issue. Not happy. Not happy at all. Doing this via docker compose, as illustrated in the documentation at https://github.com/ehazlett/interlock/tree/master/docs/examples/haproxy

[code]

[2016-06-01 13:18] ehazlett commented on #159
Can you give more info on your setup?  What is your docker host?  What
version etc?
On Jun 1, 2016 07:24, "Robert Hook" <notifications@github.com> wrote:

[2016-06-01 13:21] TheBellman commented on #159
Docker version 1.11.1, build 5604cbe
docker-compose version 1.7.1, build 0a9ab35
Self hosted, or rather hosted onto VNetrix VMs running Centos 7

[2016-06-01 13:22] ehazlett commented on #159
@ksketo this is the reason. You cannot mount local directories to remote docker hosts. It won't work. Therefore docker is making it a directory on your digital ocean droplet instead of using the file on your local system. You can either use a local docker engine or copy the entire interlock repo to the DO host and run compose on the host itself (via SSH).

[2016-06-01 13:23] ehazlett commented on #159
Are you using a remote host or are you local to the docker engine?
On Jun 1, 2016 09:21, "Robert Hook" <notifications@github.com> wrote:

[2016-06-01 13:24] TheBellman commented on #159
Remote - so that could be the same issue. Will explore it further.

[2016-06-01 13:25] ehazlett commented on #159
That is the issue. See the response I sent to @ksketo. I will add a note to
the docs.
On Jun 1, 2016 09:24, "Robert Hook" <notifications@github.com> wrote:

[2016-06-01 13:42] TheBellman commented on #159
So your examples were all based on local docker swarms? Definitely worth explaining that further, as readers like myself are likely to coming across this when looking for production-like deployments.

[2016-06-01 13:44] ehazlett commented on #159
Look in the examples. There are others specifically for Swarm.
On Jun 1, 2016 09:42, "Robert Hook" <notifications@github.com> wrote:

[2016-06-03 12:32] ehazlett commented on #149
It shouldn't be too long before release. As long as you don't pull anything the image won't change on your local system and you should be good to test. Thanks!

[2016-06-03 12:33] ehazlett commented on #149
Fixed in 401dbd909c5a8778bfb362f3b08ec8bc112ef6b8

[2016-06-03 12:33] #149 closed

[2016-06-03 12:38] ehazlett opened #169 "Proxy isn't properly reloaded after container restart with polling"
When using polling mode, the proxy is only reloaded upon a new container not a restart.

[2016-06-03 12:47] amsdard commented on #165
Hi, please close this issue. Problem was related to ma swarm setup.

[2016-06-03 12:50] ksketo commented on #159
@ehazlett yes that was the reason. Thanks for your reply

[2016-06-03 14:06] ehazlett commented on #165
thanks for the follow up.

[2016-06-03 14:06] #165 closed

[2016-06-03 15:01] ehazlett commented on #169
fixed in c2475de00c

[2016-06-03 15:01] #169 closed

[2016-06-03 15:02] #159 closed

[2016-06-03 15:08] ehazlett commented on #137
fixed in cef2526

[2016-06-03 15:08] #137 closed

[2016-06-03 15:10] ehazlett commented on #73
I'm bumping this to the 1.3 milestone as I haven't been able to reproduce.  I'll review the websocket stuff to see if that does it.

[2016-06-03 15:11] ehazlett commented on #120
Bumping to 1.3.

[2016-06-06 07:27] adamjimenez opened #170 "LetsEncrypt integration"
Would it be possible to create a container and have it automatically obtain an SSL cert from LetsEncrypt?

[2016-06-06 21:20] ehazlett commented on #154
Internally we should move to the official Docker Go library (docker/engine-api).  That should fix these.

[2016-06-10 16:51] nhester1 opened #172 "Haproxy SSL Configuration"
Interlock successfully configures Nginx for SSL, but using the same parameters for Haproxy leads to connection refused.

Labels I am using in my app:
- 'interlock.ssl=true'
- 'interlock.ssl_only=true'
- 'interlock.ssl_cert=/etc/docker/cert.pem'
- 'interlock.ssl_cert_key=/etc/docker/key.pem'

Interlock Environment Variables:
    environment:
        INTERLOCK_CONFIG: |
            ListenAddr = ":80

[2016-06-10 18:25] ehazlett commented on #172
Check the HAProxy container.  Typically the Docker cert and key will not be
valid for HAProxy.

On Fri, Jun 10, 2016 at 12:51 PM, nhester1 <notifications@github.com> wrote:

[2016-06-10 19:40] nhester1 commented on #172
Is there anyway to make HAProxy behave the same as NGINX with regards to the certs?

[2016-06-13 18:23] garthmbooth opened #173 "Interlock 1.2.0-master complains about "Missing nginx configuration template: file=/etc/interlock/nginx.conf.template""
I'm using a version of the config.toml and docker-compose.yml files for the nginx-swarm setup here: https://github.com/ehazlett/interlock/tree/master/docs/examples/nginx-swarm

**I'm seeing the following error when using ehazlett/interlock:master image.**

time="2016-06-13T17:28:12Z" level=info msg="interlock 1.2.0-master (2fd9af6)"
time="2016-06-13T17:28:12Z" level=error msg="Missing nginx config

[2016-06-14 20:14] demaniak commented on #173
Hi, I think your problem is that you have to mount the nginx template in with a `volume` directive, same way you are mounting the config.toml in.

[2016-06-15 09:20] dymat opened #174 "Real IP not forwarded to app container"
Hi there!

I use interlock to manage serveral web apps on the same host.

For one app I need the real ip address of the visitor to be passed to the app container. But neither the reverse nginx nor the app container see the real ip. On both I get 172.18.0.1.

As I understand the nginx.conf.template the real ip should be forwarded...

Could it be a bug or is it just bad configured on my side?

Thank

[2016-06-15 22:14] ermaker commented on #154
I got it. Thank you for kindly reply.

[2016-06-16 12:52] dymat commented on #174
I had a look into the docker-compose logs again and found something strange that might be a hint.

This snippet logs one (and only one) site request. In all lines but one you see the docker-ip (172.17.0.1). In the 5th line suddenly my real IP appears.

[code]

But when I use the TorBrowser it looks like this:
[code]

Any idea or hint or further question is welcome.

Regards,
~D

[2016-06-16 14:51] cvandome opened #175 "Disable caching of Nginx"
Hello,

For demo purpose, we use Nginx + interlock and we have always a round-robin problem.
As an example, if we have 5 instances of a scaled app, nginx switch only on 2 instances. This result randomly change.
Nginx seem to cache requests, I have seen that in the logs:
2016/06/16 14:27:12 [warn] 14#14: *3882 an upstream response is buffered to a temporary file /var/cache/nginx/proxy_temp/1/02/000

[2016-06-17 08:51] Cail423 opened #176 "Interlock does not generate nginx.conf"
enable interlock container command:

docker run -p 8282:8080 \
           -d -ti --name tempinterlock  \
           --link shipyard-swarm-manager \
           -v /tmp/interlock/nginx:/etc/conf  \
           -v /tmp/interlock/config.toml:/etc/interlock/config.toml \
           -v /tmp/interlock/template/nginx.conf.template:/etc/ingterlock/nginx.conf.template  \
           ehazlett/interlock:1.2.0 -

[2016-06-17 09:01] Cail423 commented on #176
i use interlock 1.0.0 generate nginx.conf  Ok, but customize nginx template invalid. interlock use default template.

[2016-06-17 09:14] demaniak commented on #176
@Cail423 I believe the custom template support is available in interlock 1.2.0

[2016-06-17 09:27] Cail423 commented on #176
@demaniak  but 1.2.0 not generate nginx.conf ;  I do not know what went wrong , so Recourse

[2016-06-17 10:02] cvandome commented on #175
I have found a workaround, it's the NGINX caching process, not an Interlock problem :)

If you want no cache for demo, dev or testing purpose add this directive with the proxypass in the location zone:
add_header Cache-Control "no-cache, must-revalidate, max-age=0";

Hope it will help someone.

[2016-06-17 12:06] ehazlett commented on #175
Thanks for the heads up!

On Fri, Jun 17, 2016 at 6:02 AM, Cédric Vandôme <notifications@github.com>
wrote:

[2016-06-17 12:20] demaniak opened #177 "Issue when scaling app from 0 to 2 instances (nginx), in swarm overlay network"
Hi.
Picked up something that smells like a race-condition.

First my setup:
- nginx
- interlock 1.2.0
- swarm-cluster
- overlay network (named `dev-net`)

The problem:
when I scale an app from 0 instances to 2, `interlock` fails to configure on of them. I I then scale back to 1, and then scale again to 2, all is well.

Some logs.
First, starting in a good state (prepared earlier!)
[code]
Two upstr

[2016-06-18 15:53] #175 closed

[2016-06-20 03:07] Cail423 commented on #176
DEBU[0030] triggering reload                             ext=lb
DEBU[0034] reaping key: reload
DEBU[0034] triggering reload from cache                  ext=lb
DEBU[0034] checking to reload                            ext=lb
DEBU[0034] updating load balancers                       ext=lb
DEBU[0034] generating proxy config                       ext=lb
DEBU[0034] websocket endpoints: []

[2016-06-20 06:21] demaniak commented on #176
@Cail423 apologies, I did not read properly at first! Your setup seems fine as far as I can tell.
But your log output looks like something strange is going on.

Just a stupid question: `-v /tmp/interlock/template/nginx.conf.template:/etc/ingterlock/nginx.conf.template` - seems there is a typo there. Is it just a typo in this issue, or is that really the command line? Because that might be your pro

[2016-06-22 07:32] Cail423 commented on #176
My problem has been solved

docker run -P -d -ti --name tempinterlock -v /tmp/interlock/git/interlock/docs/examples/nginx/config.toml:/etc/interlock/config.toml -v /tmp/interlock/git/interlock/docs/examples/nginx/nginx.conf.template:/etc/interlock/nginx.conf.template -v /var/run/docker.sock:/var/run/docker.sock ehazlett/interlock:master -D run -c /etc/interlock/config.toml

nginx.conf.template  ad

[2016-06-23 19:19] tpbowden opened #178 "Feature request: Integration with the new Docker 1.12 services"
WIth Docker 1.12, the way Swarm works will change quite a lot (and will look a lot more like Kubernetes), meaning services can be exposed on ports on all Swarm nodes and load balanced internally by Docker using a virtual IP or DNS round robin. As such, Interlock would no longer have to load balance across containers, but across physical swarm nodes.

For example, if you had 3 swarm nodes, A, B and

[2016-06-24 19:50] chromerobv commented on #128
https://github.com/ehazlett/interlock/pull/179

[2016-06-28 16:35] boydj opened #180 "Interlock stops working on UCP if a container is running on an unhealthy node"
time="2016-06-28T16:27:09Z" level=error msg="500 Internal Server Error: Container d8250f88fa8dcc4ccd7e84e172fc0f752645baa9cea8591885e80b4ef6b38b66 running on unhealthy node ucp-replica-65784cff.east1a.prod\n" ext=lb

When this occurs nginx will not be configured by interlock for any containers.

[2016-06-28 17:00] sjoshi10 commented on #180
So this error showed after uninstalling one of the replica nodes. This is what I see after doing "docker ps -a" on the UCP cluster:
`[ec2-user@ucp-node-577544cd bundle]$ docker ps -a | grep 65784cff
d8250f88fa8d        40fe8a8c618e                                                     "/bin/ucp-tool uninst"   15 hours ago        Host Down

[2016-06-29 13:38] demaniak commented on #177
Just an update - in our dev cluster I'm seeing this pop up intermittently (but more frequently than is comfortable) when just scaling a service to zero and then back to 1.
I do this to deploy a new version of the container.

Repeating the scale op so far resolves the problem however, which is..sorta weird.

[2016-06-29 14:40] ehazlett commented on #177
Hmm so this may be a race in the network connect logic -- I will take a look

On Wed, Jun 29, 2016 at 9:38 AM, Hendrik Coetzee <notifications@github.com>
wrote:

[2016-06-29 17:18] ehazlett commented on #177
@demaniak ok i think i have a fix for this (https://github.com/ehazlett/interlock/pull/182)-- can you try the `ehazlett/interlock:test` image and see if that helps?

[2016-06-29 18:24] demaniak commented on #177
@ehazlett awesome sauce, I will give `test` a spin and report back as soon as possible :)

[2016-07-01 09:10] demaniak commented on #177
@ehazlett awesome sauce, I will give `test` a spin and report back as soon as possible :)

[2016-07-01 09:11] demaniak commented on #177
Just an update here: I have been running test image, for the last 1.5 days.
Have not picked up the issue again so far.

[2016-07-04 14:49] demaniak commented on #177
Update number two: been running the test image for about 3.5 days now?
Cautiously suggesting the issue is indeed fixed, since we have been doing many deploys, and I have NOT seen the issue pop again so far.

If mister @ehazlett agrees, I guess we can close this one down as "sorted".

[2016-07-04 15:53] demaniak commented on #177
Spoke to soon.

Just brought my whole app down, and back up again, encountered weirdness (things not working), and interlock logs have this to say:
[code]

[2016-07-05 11:03] marcosnils opened #183 "Add support for new docker 1.12 swarm mode?"
New docker swarm mode brings IPVS (L4) loadbalancing. It'd be nice if interlock could work with the new swarm mode service model as well

https://docs.docker.com/engine/swarm/

[2016-07-06 08:10] demaniak opened #184 "Interlock fails to start in polling mode if time unit not specified"
Setting `PollInterval = "5"` results in interlock failing to startup.
Log output:
[code]

Setting `PollInterval = "5s"` lets interlock start up, but I have no idea if this is a correct time unit.

Suggest documentation be updated/expanded to mention the required time unit (and available viable options)?

Also, if possible perhaps default to seconds if no time unit specified?

[2016-07-06 11:25] peceka commented on #133
Is there any chance for resolving this issue?

[2016-07-06 19:10] krishamoud commented on #184
IMO the default time should be in milliseconds because the default polling interval is set in ms: https://github.com/ehazlett/interlock/blob/08446f5bb23c8fda1870b2d12b71936bc9c6fddc/server/server.go#L29

[2016-07-08 04:40] ehazlett commented on #184
I actually think we should change the default poll as too quick could cause issues.  We should default it to seconds (`2s`).  We could then add it if missing.

[2016-07-08 04:40] ehazlett commented on #183
Yes this is being worked on.

[2016-07-08 04:41] ehazlett commented on #183
Marking as duplicate to #178

[2016-07-08 04:41] #183 closed

[2016-07-08 04:42] ehazlett commented on #174
Hmm this is odd.  I thought we had it setup to pass the real IP.  I will see if I can duplicate.

[2016-07-08 04:42] ehazlett commented on #178
Yes this is being worked on.  Not sure on an ETA.

[2016-07-08 19:30] krishamoud opened #185 "NGINX: Why 302 redirect for SSL?"
If `SSLOnly` is turned on then wouldn't a 301 be correct as it's a permanent move?  This does't have any effect on my setup but I have been googling trying to figure out the differences between the two.  The only reason people seem to care about it is because of SEO.  This was the only thing I could find from google about SEO.

https://support.google.com/webmasters/answer/6073543?hl=en

[2016-07-08 19:38] mbentley commented on #185
The reason about 302 instead of 301 came from https://github.com/ehazlett/interlock/pull/51.  With Interlock being about dynamic load balancing, what happens if configuration changes when you previously had an endpoint that redirected to SSL with a 301 but not longer want to force SSL?  Browsers may/more than likely will cache a 301 where as a 302 should not be cached.

[2016-07-08 19:40] krishamoud commented on #185
I see.  Thanks for the information!

[2016-07-08 19:40] #185 closed

[2016-07-08 20:22] tpbowden commented on #178
Had a quick go at this in https://github.com/tpbowden/swarm-ingress-router, managed to get something reasonable working without much work (it uses a native Go reverse proxy instead of nginx/haproxy however). You can just query for labelled services and then Docker will handle all load balancing and routing for you based on the DNS name of the service which resolves to a VIP. No need for external p

[2016-07-09 03:44] ehazlett commented on #178
@tpbowden cool!

[2016-07-09 03:45] ehazlett commented on #178
There is now a PR (#186) that adds Swarm service support.

[2016-07-09 03:48] ehazlett commented on #178
You can use the `ehazlett/interlock:pr-186` image for testing.

[2016-07-09 03:49] ehazlett commented on #178
There are also example docs in that PR (https://github.com/ehazlett/interlock/pull/186/commits/153bb9fb07c893d569def15b1fafc38a7ac5b3f5)

[2016-07-10 17:53] busbyjon commented on #178
If the swarm has 1 manager, and 1 node (and the node is NOT a manager).  This tutorial works - then fails after about 15 minutes when the nginx config on the worker node is refreshed (with the error that it is not a manager node)

Promoting the node appears to solve this issue - but it probably something that you'd want to resolve - as it is challenging to troubleshoot and doesn't fail gracefully

[2016-07-11 20:11] krishamoud opened #187 "Question: How much memory should be allocated for interlock?"
I currently run a 21 node cluster with interlock running on 3 of the nodes.  The running stats of interlock at any given time are around 2.3MB idle.  In the upcoming months my team will be deploying multiple microservices between 10-15x daily all of which will be managed by interlock.  I have never run into performance/memory issues with interlock but I put memory constraints on ever container in

[2016-07-14 03:41] virtuman opened #188 "do i need to setup key/value store to be able to add multi-host network?"
I'm trying to understand if on Docker 1.12 with swarm - do i need to configure a key/value store like etc/consul/zookeeper or is that no longer needed with swarm on 1.12? i was under the impression that it does all of it on it's own after docker swarm init and docker join commands ?

so on a brand new 3-node cluster I followed all steps but the overlay network gets created in a single node (on man

[2016-07-14 04:46] virtuman commented on #188
upgrade docker to rc4 and network started to work but now ports don't get exposed anymore

[2016-07-14 04:46] #188 closed

[2016-07-14 08:00] ehazlett commented on #188
No kv is needed. The network only shows on a node when a task is scheduled
on that node that needs the network.

On Jul 13, 2016 9:41 PM, "Alexei Smirnov" <notifications@github.com> wrote:

[2016-07-14 09:50] goetas opened #189 "Strange bug with multiple running interlock containers"
I have the following config (using Docker engine, not swarm) using interlock 1.2.0
- 1 interlock running container
- 1 haproxy running container
- 1 app running container
- 1 not running interlock running container (can be shown running `docker ps -a`)

Because of the not running interlock containers, interlock is not able to detect the haproxy container to restart.

In the logs, when adding/remov

[2016-07-14 15:34] ehazlett commented on #189
Yes you are correct in the case of the running containers.  The intent was to catch Interlock instances that failed for some reason and recover but I think this is a worse effect.  I will update to only check for running and ignore the rest.  Thanks!

[2016-07-14 15:35] ehazlett commented on #187
Interlock doesnt' need much.  10-20 MB should be sufficient as it's pretty small.

[2016-07-14 15:35] #187 closed

[2016-07-14 15:36] ehazlett commented on #180
Can you give some info on your setup?  Docker version, Swarm version, Interlock version, etc?

[2016-07-14 15:37] ehazlett commented on #178
Yes there is currently a limitation that Interlock must be on managers.  I'm trying to work through a solution to get it working across all.

[2016-07-14 15:48] goetas opened #190 "[Feature] Add option to disable the automatic restart of the haproxy container"
I'm using HAProxy and the restart of the container creates a downtime of 1-2s (due to the container restart).

Currently HAProxy using the option `-sf` allows some kind of configuration refresh.. that makes useless the container restart.

(I'm using an approach similar to https://github.com/million12/docker-haproxy to detect configurarion file changes)

Having this feature allows to have almost no

[2016-07-14 15:54] ehazlett commented on #190
We used to do this when HAProxy was embedded.  Since we moved to use external proxy images we can no longer control the life cycle of the container to that level.  We could look at possibly allowing Interlock to manage launching the proxy containers as an alternative that would allow control over how HAProxy is started.

In an ideal world, HAProxy should be able to handle a `SIGHUP` and "just work

[2016-07-14 15:55] goetas commented on #190
currently im using this bug https://github.com/ehazlett/interlock/issues/189 to achieve the feature :smile:

[2016-07-14 16:00] goetas commented on #190
currently i'm using a custom image of haproxy... of course handling signals is cool but adding an option to the extension as example "DoNotRestartContainer=1" will allow users to do their implementation of the restart policy

Adding a simple "exit" in https://github.com/ehazlett/interlock/blob/master/ext/lb/haproxy/haproxy.go#L66 will be enough

[code]

[2016-07-14 16:07] goetas commented on #190
https://gist.github.com/goetas/8a6c95b7fc0d25f2e866db385fee467a is my modified version of the official HAProxy

[2016-07-14 18:02] pkaeding opened #191 "Is it possible to set arbitrary labels on containers, and access them in the haproxy config template?"
Maybe this is possible already, or maybe this is a feature request.  I'd like to be able to add arbitrary key/values on my containers, and then access them in the template that generates the HAProxy configuration.

If this is already possible, can you give me some pointers as to how I can do this?

[2016-07-14 18:05] ehazlett commented on #191
No this is not implemented today.  What are you trying to do?

[2016-07-14 18:23] pkaeding commented on #191
I need to set a header for requests that are going to one of my containers. One idea was to just compare `$host.ContextRoot.Name`, but it would be more flexible if I could add a label indicating the header value.

[2016-07-15 09:47] Richard-Mathie commented on #178
won't specifying `--constraint node.role == manager` on the interlock service solve this?

from https://docs.docker.com/engine/reference/commandline/service_create/#/set-service-mode

[2016-07-18 05:37] boydj commented on #180
Was just able to reproduce...

$ docker info
Containers: 8
 Running: 7
 Paused: 0
 Stopped: 1
Images: 24
Server Version: swarm/1.2.3
Role: primary
Strategy: spread
Filters: health, port, containerslots, dependency, affinity, constraint
Nodes: 3
 mhs-demo0: 192.168.99.101:2376
  └ ID: 5FXQ:OM5C:LMPX:SFPB:UZNV:GWVY:FHNT:O6IL:NKN3:P4CS:TEBU:6Q36
  └ Status: Healthy
  └ Containers: 5
  └ Reserved CPUs

[2016-07-18 13:54] ehazlett commented on #180
Are those nodes all managers?

On Mon, Jul 18, 2016 at 1:37 AM, Josh Boyd <notifications@github.com> wrote:

[2016-07-18 14:28] boydj commented on #180
Nah, this example is just one manager.

In prod where we saw the issue was with UCP with 1 controller, 2 replicas and 12 nodes.

[2016-07-19 13:18] riemers commented on #178
@ehazlett is there also an option to add ssl certs via environment entry's? Not a path to the files but cat the files into the environment so you don't need to mount a volume.

[2016-07-20 07:08] demaniak commented on #177
Another observation: with the test image the event stream seems to...get stuck(?).

Going back to 1.2.0 that problem does not occur (but of course the above race-condition situation still occurs).

[2016-07-20 07:11] ehazlett commented on #177
Hmm this is odd. I'll try to get some tests to duplicate. Thanks for
reporting!!

On Jul 20, 2016 03:08, "Hendrik Coetzee" <notifications@github.com> wrote:

[2016-07-27 19:40] troubleshooter713 opened #192 "doesn't recognize containers in the swarm"
First thank you for all your work!

I have been struggling to get this working for a while now, I've tried to follow the examples:
 at scale guide
nginx-swarm
nginx-swarm-machine
haproxy

with no success on any. I have consul, interlock, nginx and the app running, but cannot get the loadbalancer to see the local apps or apps in the swarm. I all I get is 503 and 502 errors, but I can get to the con

[2016-07-27 20:11] ehazlett commented on #192
Thanks!  Interlock isn't talking to swarm.  Are you sure swarm is listening on 2375?  When you get the 0.0.0.0 in the upstream that is telling that it's coming from a Docker Engine and not Swarm.  With Swarm you get the Node IP in the response.

[2016-07-27 21:05] troubleshooter713 commented on #192
Thanks for the quick response!
I checked my daemon settings:
`/usr/bin/docker daemon -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock --graph="/mnt/docker-data" --cluster-advertise=eth0:2375 --cluster-store=consul://10.255.92.100:8500`

checked my swarm cluster
[code]
and then is saw this:
[code]

looks like I have a communications error or two... let me see if I can resolve these and I'll get

[2016-07-28 13:40] troubleshooter713 commented on #192
I was able to fix the broken pipe error, I went back, double checked my swarm and opened up the prerequisite ports that were closed and restarted.

and here I am with the same results, still no communication with the swarm.
[code]
I went through a couple of different settings with the config.toml using 0.0.0.0:2375, 127.0.0.1:2375 and the only one that makes a connection without error is the 10.25

[2016-07-28 13:48] ehazlett commented on #192
Ya with the "-H 4000" that looks like swarm is listening on 4000 not 2375.

On Wed, Jul 27, 2016 at 5:05 PM, Race Boyer <notifications@github.com>
wrote:

[2016-07-28 13:49] ehazlett commented on #192
You are configuring the engine to listen on 2375 and it looks like swarm is
4000.

On Thu, Jul 28, 2016 at 9:48 AM, Evan Hazlett <ejhazlett@gmail.com> wrote:

[2016-07-30 09:07] cmingxu opened #193 "Does interlock support new version of docker swarm like 1.12.rc5?"
Thanks

[2016-08-01 14:20] troubleshooter713 commented on #192
Sir! Now that I've spent the last 40 minutes face palming, !et me buy you a hamburger!

That was the ticket. I now have the load balancing working. I thank you for your eyes.

[2016-08-01 14:20] #192 closed

[2016-08-01 14:50] ehazlett commented on #192
Haha np. Yw

On Aug 1, 2016 7:20 AM, "Race Boyer" <notifications@github.com> wrote:

[2016-08-10 15:16] #193 closed

[2016-08-10 23:30] primehaxor opened #194 "Scaling Interlock"
Hi, im have a ucp running and i would like to know when i want a HA thinking if i lose some node i have to deploy one interlock for each node on my cluster... the problem is i can't set the environment constraint with interlock configs...

this is my current compose, but i cant use interlock with volume, it can't find the config.toml

interlock:
    image: ehazlett/interlock:master
    command: ru

[2016-08-11 13:25] danielsand opened #195 "[Question] Swarm Cluster + one interlock and multiple app containers with different hostnames + TLD (?)"
Hello ehazlett,

we're currently evaluating building a new docker pipeline and trying out a bunch of scenarios.

currently we have one docker-compose.yml where all of our containers get deployed + interlock and nginx over SWARM to provide a soft LB for our dockerized application.

all works fine with one set of

test01:
    image: test/demoapp1
   hostname: test01.local
   expose:
      - 8080

[2016-08-11 13:28] ehazlett commented on #195
Are you sure you are using Swarm?  Interlock must be configured to use
Swarm or it cannot see all containers nor events.  This is usually the
problem.

On Thu, Aug 11, 2016 at 9:25 AM, Daniel Sand <notifications@github.com>
wrote:

[2016-08-11 13:51] danielsand commented on #195
@ehazlett we use swarm but will check again if something is off - thanks

[2016-08-11 14:39] danielsand commented on #195
@ehazlett we forgot to specifiy in the docker-compose.yml the ports
only expose - make sense - doesnt do the trick.

thanks :)

[2016-08-11 14:39] #195 closed

[2016-08-11 15:10] ehazlett commented on #195
yw!

On Thu, Aug 11, 2016 at 10:39 AM, Daniel Sand <notifications@github.com>
wrote:

[2016-08-17 14:27] pratapnanda opened #196 "Error in executing Interlock+HAproxy"
I have created my cluster using DDC-AWS CFN template and then I have pointing my docker toolbox to AWS .I have successfully installed frontend, backend ,MongoDB  application in my cluster .While executing the interlock+Ha proxy ,I have faced below errors .I have used same YML & toml files given here .I don't understand where something I missed from my side.

**Interlock error:**

time="2016-08-17T

[2016-08-17 16:08] mbentley commented on #196
Sorry, I haven't done a great job of keeping these examples up to date.  I'd suggest checking out the reference architecture that covers this on DDC as it stands today: http://success.docker.com/Datacenter/Apply/Reference_Architecture%3A_Service_Discovery_and_Load-Balancing_with_Docker_Universal_Control_Plane_(UCP)#3._External_Service_Discovery_.2B_Load_Distribution

[2016-08-18 10:25] pratapnanda commented on #196
@mbentley -Many thanks for above information.Interlock+nginx is working perfect .

Here I am trying to implement interlock+haproxy . First .I choose 1 dedicate UCP node and trying to install interlock+haproxy using docker-compose but it has error like (Could not open configuration file /usr/local/etc/haproxy/haproxy.cfg : No such file or directory)

**i am thinking that Interlock support haproxy o

[2016-08-18 13:54] ehazlett commented on #196
This is an old version of Interlock and it had some issues with the local Swarm volumes.  Try upgrading to the latest -- it uses a different method to get the configs to the proxy containers.

[2016-08-18 17:56] ekcheu commented on #173
Seeing similar issue on my end.  nginx.conf is not first initially generated unless I use version ehazlett/interlock:1.0.0.  Templating of nginx.conf also does not work.  However, if I simply copy nginx.conf file to a directory locally, and mount it (or generate it initially using ehzlett/interlock:1.1.0), and then stop and then remove the interlock container, and the run the interlock:latest cont

[2016-08-18 23:29] ehazlett commented on #173
Ok there was a change that added these as default that I thought I
reverted. I'll take a look. Thanks for reporting!

On Aug 18, 2016 13:56, "ekcheu" <notifications@github.com> wrote:

[2016-08-19 15:59] ekcheu commented on #194
Well, I don't have UCP, but you could just do it the hard way.  You could make a directory on all of your worker hosts that has config.toml and mount that with -v instead of:

interlock-config:/etc/interlock

that way, you don't need a constraint.  Personally I don't start interlock by connecting to the swarm (or even using docker compose), I just log into a worker within the swarm and create inte

[2016-08-26 23:42] groyee opened #198 "Interlock is ignoring services with no ports"
I must be missing something here but I really don't understand why Interlock doesn't add a new docker containers when it has no exposed ports?

All I am trying to do is to get the IP addresses of containers running with a specific name.

Is that how it suppose to be by design? Why?

Maybe there is some other solution that I am not aware of? How else can I discover the address of my containers in a

[2016-08-27 00:11] ehazlett commented on #198
What version of Docker are you using?

On Aug 26, 2016 19:42, "Sasha Goldberg" <notifications@github.com> wrote:

[2016-08-27 00:55] groyee commented on #198
1.12

[2016-08-28 17:18] ehazlett commented on #198
Interlock isn't compatible with 1.12 services yet. There is a wip branch
for that. See https://github.com/ehazlett/interlock/pull/186

On Aug 26, 2016 8:55 PM, "Sasha Goldberg" <notifications@github.com> wrote:

[2016-08-29 14:04] groyee commented on #198
Thanks!

[2016-09-09 15:05] #172 closed

[2016-09-21 14:24] anweiss commented on #73
+1 ... also seeing the same websocket issue that @krishamoud described when scaling a service that uses the same websocket endpoint

[2016-09-26 10:57] mihail-dev opened #200 "Interlock with docker socket example issue: ERRO[0000] open /etc/nginx/nginx.conf: no such file or directory"
I just tried the quickstart guide on AWS EC2 Amazon Linux and on a docker machine.

https://github.com/ehazlett/interlock/blob/master/docs/getting_started.md#quickstart

I am getting this error:

[code]

However, if I run interlock 1.2.0 it works as expected on both aws and docker machine.

The tag in the run command should probably be updated to 1.2.0?

[code]

Thanks.

[2016-09-27 12:30] nhester1 opened #201 "Interlock + NGINX 502"
If Interlock and NGINX are running on the same node as an application in UCP that application will experience a 502 Bad Gateway. If NGINX and Interlock are moved to a new node the problem stops. The problem occurs for all of our applications. We are running NGINX 1.11.4 and Interlock 1.2.0. We also experience the issue with NGINX 1.11.3 and Interlock 1.1.3. We didn't experience this issue until a

[2016-09-27 13:19] mbentley commented on #201
Do you have any custom Docker daemon arguments in use (e.g. - `userland-proxy=false`)?

[2016-09-27 13:35] nhester1 commented on #201
No, we are running pretty vanilla based on the UCP in production guide.

[2016-09-27 14:22] ehazlett commented on #201
Can you paste the logs from the interlock container(s)?

[2016-09-27 14:56] nhester1 commented on #201
I'll shoot you an email with the logs.

[2016-09-27 15:31] ehazlett commented on #201
Nothing from the logs looks abnormal.  I'll stand up a 1.11.2-cs5 and see if I can reproduce.  Can you give an example of what you are deploying?

[2016-09-27 15:46] nhester1 commented on #201
We are mostly using anapsix/alpine-java:8_jdk_unlimited with Spring Boot apps that have embedded tomcat servers. The labels look roughly like the following:

    - 'interlock.hostname=myapp'
    - 'interlock.domain=mydomain.com'
    - 'interlock.ssl=true'
    - 'interlock.ssl_only=true'
    - 'interlock.ssl_cert=/etc/docker/cert.pem'
    - 'interlock.ssl_cert_key=/etc/docker/key.pem'
    - 'com.do

[2016-09-27 16:21] ehazlett commented on #201
Ok.  Can you paste the logs from the nginx containers as well?

[2016-09-27 16:35] nhester1 commented on #201
Sent you an email with the logs.

[2016-09-27 18:49] nhester1 commented on #201
We ave just discovered the issue is happening in our cluster that has CS4 as well, so it doesn't appear to be the docker engine version.

[2016-09-29 08:51] ewnit opened #202 "Can I customize log dir when interlock triggers"
I found interlock put logs together when adding a new container.
Can I seperate them  into three dir named after the specific container name?

[2016-09-30 19:31] primehaxor opened #203 "invalid character 'N' looking for beginning of value"
NFO[0700] service01.lab r: upstream=172.21.72.243:32795  ext=nginx
DEBU[0700] websocket endpoints: []                       ext=nginx
DEBU[0700] alias domains: []                             ext=nginx
INFO[0700] service02.lab: upstream=172.21.70.101:32788  ext=nginx
DEBU[0700] websocket endpoints: []                       ext=nginx
DEBU[0700] alias domains: []                             ext=nginx

[2016-10-09 03:08] o3o3o opened #205 "Feature request: support mutiple upstream for the same container"
this is the nginx.conf:

[code]

When I try to write the myself nginx.conf.template, I dont't know how to set $host.Upstream.Servers.port.
So I think it may be handled in logic that handle docker events.

[2016-10-27 01:04] lcamilo15 commented on #149
The master image doesn't seem to have this changes

[2016-10-27 10:34] kmoens opened #206 "Feature Request: possibility to proxy based on domain and context"
We have a setup where we want to proxy based on domain and context, instead of one of both.

For example:
http://dev-shared/app1 -> container1
http://dev-shared/app2 -> container2
http://nb-shared/app1 -> container3
http://nb-shared/app2 -> container4

Currently this doesn't look to be supported, even with custom templates it looks to me that the host information gets lost as soon as I supply a co

[2016-10-27 12:36] mbentley commented on #206
That should work with the existing context root support.  Provide `interlock.hostname`, `interlock.domain`, and `interlock.context_root` for each container.

[2016-10-27 12:54] kmoens commented on #206
Hmm, that doesn't seems so.

I've configured my container with the following labels:
[code]

Still the generated `haproxy.cfg` file shows no trace of the host name:
[code]

What I would expect is something like this:
[code]

I've tried also with a custom template file, but the variable `{{ $host.domain }}` does not contain the domain information anymore.

This is also what I see when I read the co

[2016-10-27 13:03] mbentley commented on #206
Sounds like a bug then possibly.  I'm quite certain it works with nginx for the software load balancer.

[2016-10-28 13:36] viveky4d4v opened #207 "Can i use my own nginx configuration within interlock"
I have a swarm cluster , it consists of two nginx already which is doing all the stuffs . If i implement interlock is there any way that i can use the nginx configuration within the interlock container ?

[2016-10-29 03:55] ehazlett commented on #207
Yes. You can turn it into a template that interlock can use. Here is an
example
https://github.com/ehazlett/interlock/blob/master/docs/examples/nginx/nginx.conf.template.example

On Oct 28, 2016 9:36 AM, "viveky4d4v" <notifications@github.com> wrote:

[2016-11-09 12:32] danielbjornadal commented on #133
Any update on this issue?

[2016-11-10 08:12] yeruisen opened #208 "panic: runtime error: invalid memory address or nil pointer dereference"
docker-compose.yml
[code]
config.toml
[code]

In my Swarm cluster, When I run docker-compose up to start my app, interlock throw execption.
[code]

[2016-11-10 08:16] yeruisen commented on #208
what should I do?

[2016-11-10 14:28] #196 closed

[2016-11-10 14:46] #133 closed

[2016-11-10 14:58] ehazlett commented on #133
FYI this has been fixed and is included in the latest [release](https://github.com/ehazlett/interlock/releases/tag/v1.3.0)  thanks for reporting and sorry for the delay!

[2016-11-10 14:58] #207 closed

[2016-11-10 14:59] ehazlett commented on #203
What version of Docker are you using?

[2016-11-10 15:00] ehazlett commented on #201
Can you try the latest [release](https://github.com/ehazlett/interlock/releases/tag/v1.3.0) to see if you are still having this issue?  `ehazlett/interlock:1.3.0` -- thanks!

[2016-11-10 15:01] ehazlett commented on #202
You can use a custom configuration to specify log directories.  See https://github.com/ehazlett/interlock/blob/master/docs/examples/nginx/nginx.conf.template.example for an example with nginx.

[2016-11-10 15:01] #202 closed

[2016-11-10 15:02] ehazlett commented on #200
Yes that example is using an old version.  The latest version is `ehazlett/interlock:1.3.0`.  Thanks!

[2016-11-10 15:02] #200 closed

[2016-11-10 15:02] #198 closed

[2016-11-10 15:24] #189 closed

[2016-11-20 12:42] bewessels opened #209 "Proxy container will not be reload"
Hi There,
im running in an Issue.

When i first start. HAProxy will quit because it didnt find the config.
I have to restart the container.
Then when i scale the app. Interlock will write the correct config but the haproxy container will not restart.
Even here i have to do it by hand.

I dont use Swarm. Its just a simple docker install.

` Client:
 Version:      1.12.1
 API version:  1.24
 Go vers

[2016-11-29 16:15] je-al commented on #151
We would also need a way to specify the backend port, and tcp-check entries (my use case being providing failover-awareness for Redis replication for applications that don't support Sentinel)

[2016-11-29 16:58] arhea commented on #151
With the stable release of 1.12 open source and commercial support is this feature still needed? This can be accomplished via a static proxy in front of a cluster of Docker Swarm 1.12 worker nodes.

[2016-11-29 17:56] je-al commented on #151
@arhea If all you need is a way to round-robin balance the service, my guess is, it isn't. If there's some kind of master / slave relationship happening in the background (and you would rather not wait for a container to be respawned AND have to setup a HA volume driver), however, it would spare the clients from having to have knowledge of it if that "logic" can be implemented in haproxy/nginx.

[2016-11-29 18:04] arhea commented on #151
@je-al - you are correct, for more complex load balancing strategies a HAProxy or Nginx is still useful. Any reason, this couldn't be a static config within a proxy to point back to different ports on the cluster. For example,

PostgreSQL Master - 5432
PostgreSQL Slave - 5433

HAProxy -> 5432 / 5433 which are available via the mesh networking?

Reduces the moving parts within the system.

[2016-11-29 18:18] je-al commented on #151
I'm guessing that could work, but it does mean that you'd need to setup a "service" per member of the set, and reconfigure it whenever you want to "scale"

[2016-12-02 13:10] nixelsolutions commented on #208
+1 we're affected by this issue tooo:

[code]

[2016-12-03 16:37] subhashdasyam commented on #120
@ehazlett  any news on better documentation really hard for a starters like me to start anything
i have to pick bits and pieces to understand what's going on
currently i realized how to deploy a HTTP app with interlock but unable to understand how to add SSL to my own app via interlock
i would love <3 a documentation :)

[2016-12-05 02:03] yeruisen commented on #208
@nixelsolutions Did you solve this problem？

[2016-12-05 03:49] ehazlett commented on #208
These are two different issues. Can you post your Docker version?

On Dec 4, 2016 9:03 PM, "yeruisen" <notifications@github.com> wrote:

[2016-12-05 10:41] nixelsolutions commented on #208
@yeruisen nope, still suffering it.

@ehazlett this is the docker info output on swarm cluster:

[code]

The swarm nodes are running docker 1.10.2 though.

[2016-12-06 13:28] sbrakl opened #210 "Load balance SSL backend server with client authentication"
I am using Interlock 1.13 with Docker 1.11 and Swarm 1.2.5

I am trying to load balance tomcat server which serve as ESB in my application.

They listen on port 8443, and require HTTPS with client certificate authentication.

Now, I need to inject client certificate which would be used in proxy section of Nginx

[code]

I studied the Interlock configuration section, but couldn't find options which

[2016-12-07 14:12] ehazlett commented on #210
Right now backend proxy ssl is not supported.

[2017-01-09 13:07] sbrakl commented on #210
I was able to set client auth certificate using nginx Template. Just for reference, here out how I did it
https://sbrakl.wordpress.com/2017/01/09/client-auth-with-interlock-and-nginx/

Thanks for the help!

[2017-03-17 16:01] rajarajanpsj commented on #180
We are seeing the same issue when when you the following combination.
Interlock 1.3.0
UCP 2.1.0
Engine 1.13.1-cs2

Any node in the cluster (does not matter whether it is manager or worker) if it is unhealthy, interlock does not update the nginx conf. The error we see is the following.

Error response from daemon: Error response from daemon: Container 3032831d7097de55474d39e55bfdbe18fad2cc8ca070040

[2017-03-17 16:54] ehazlett commented on #180
@rajarajanpsj can you enable debug and give some more logging around the error?  It looks like there is an error coming back from UCP which is causing interlock to not update the config but I'm not sure where it is to handle.

[2017-03-17 18:25] rajarajanpsj commented on #180
@ehazlett  In our cluster we do have one of the nodes which is in unhealthy state. But that is under maintenance for some reason. But it is stopping us from deploying to another node (which is not related to that unhealthy node logically)

INFO[0000] interlock 1.3.0 (d617b05)
DEBU[0000] loading config from: file=/etc/interlock/config.toml
DEBU[0000] using tls for communication with docker
DEBU[000

[2017-03-17 18:50] ehazlett commented on #180
@rajarajanpsj can you try version `1.3.1`? I think it should fix this issue.  `ehazlett/interlock:1.3.1` on the docker hub.

[2017-03-17 21:23] rajarajanpsj commented on #180
@ehazlett 1.3.1 has resolved this issue!

[2017-03-17 22:46] ehazlett commented on #180
awesome.  thanks for the update.  i will tag 1.3.1 to `latest` later tonight.  closing this issue.

[2017-03-17 22:46] #180 closed

[2017-03-23 04:36] auzty opened #213 "interlock version 1.3.0 cannot listen swarm"
this is my situation :
i have 3 server that has docker installed
i'm using docker server / client using this version
[code]

for standalone swarm, i  set it like this :

### Server1 : as a swarm master & consul only
**/etc/default/docker**
[code]
and running consul with :
[code]

running swarm with:
[code]

### Server2 : as node

**/etc/default/docker**
[code]

### Server3 : as node

**/etc/defaul

[2017-04-26 15:25] adpjay commented on #206
It looks as though this is a problem in the master branch as of 4/26/2017
https://github.com/ehazlett/interlock/blob/master/ext/lb/nginx/generate.go#L50

The logic replaces the domain name with the context root and ends up grouping all contextRoots together regardless of domain or host.
This seems like a defect. We have the same exact use case as the @kmoens and it does not appear to be working wi

[2017-04-27 14:03] ahalem commented on #206
Matt, Is that something you can help us sponsor to fix ? I am going to open ticket about it as well.

[2017-04-27 14:12] mbentley commented on #206
Funny you ask; was literally just chatting about this issue.  It would be good to have a case open for us to track as well but yeah, this will be looked at.

[2017-04-27 14:33] ahalem commented on #206
Thank you guys, here is the ticket number: Case Number: 00021036

 ———————————————————————

Amr Abdelhalem | Chief Architect
Global Enterprise Technology & Solutions (GETS) | ADP, LLC – Roseland, NJ - Office:  973-974-7134
”A Dreamer, debater , synthesizer and executor are the power of Innovation .. the breakdown happens when they spent their time disagreeing with each other !”

From: Matt Bentley

[2017-04-28 23:28] ehazlett commented on #206
Opened #216.  Please test -- you can use the image `ehazlett/interlock:dev` with both HAProxy and nginx.

[2017-04-29 06:55] ehazlett commented on #206
/cc @ahalem @kmoens @adpjay ^

[2017-04-29 06:57] ehazlett commented on #213
I have updated the docker client library and some other minor fixes.  Can you try the latest `ehazlett/interlock:dev` to see if this fixes?

[2017-04-29 06:57] ehazlett commented on #210
Thanks!

[2017-04-29 06:57] #210 closed

[2017-04-29 06:58] ehazlett commented on #208
I made a significant update to the docker client dependency as well as some other fixes.  Can you try the latest `ehazlett/interlock:dev` to see if that fixes?

[2017-04-29 07:00] ehazlett commented on #205
You can use the same containers for multiple sites.  You can use the `interlock.alias_domain` label (https://github.com/ehazlett/interlock/blob/master/docs/interlock_data.md#alias-domains).  I think that's what you are trying to do.  If not, please re-open.  Thanks!

[2017-04-29 07:00] #205 closed

[2017-04-29 07:01] ehazlett commented on #209
This usually happens if there is an invalid config file.  Can you check the logs from the HAProxy container?  It should tell the error.

[2017-04-29 07:02] ehazlett commented on #203
Closing as this has stagnated.  Please re-open if you continue to have issues.  Thanks!

[2017-04-29 07:02] #203 closed

[2017-04-29 07:03] ehazlett commented on #201
Closing as this is old.  Please re-open if you continue to have issues.  Thanks!

[2017-04-29 07:03] #201 closed

[2017-04-29 07:04] ehazlett commented on #194
You can also use a KV store to centralize the config.  See https://github.com/ehazlett/interlock/blob/master/docs/configuration.md#key-value-store-configuration for details.

[2017-04-29 07:04] #194 closed

[2017-04-29 07:06] ehazlett commented on #176
Thanks!

[2017-04-29 07:06] #176 closed

[2017-04-29 07:08] ehazlett commented on #177
I have made a significant update to the latest docker client libraries.  This should make the event stream more reliable.  Can you try the latest `ehazlett/interlock:dev` to see if that fixes?

[2017-04-29 07:10] ehazlett commented on #173
This should be fixed.

[2017-04-29 07:10] #173 closed

[2017-04-29 07:12] ehazlett commented on #158
This should be fixed in #216.  Can you try `ehazlett/interlock:dev` to see if that fixes?  Thanks!

[2017-04-29 07:13] ehazlett commented on #158
We are tracking most of this discussion in #206.  Closing this one.  Thanks!

[2017-04-29 07:13] #158 closed

[2017-04-29 07:17] ehazlett commented on #114
This should be fixed in the latest.  Please open a new issue if you continue to have issues.  Thanks!

[2017-04-29 07:17] #114 closed

[2017-04-29 07:18] ehazlett commented on #64
This should be resolved.  Closing.

[2017-04-29 07:18] #64 closed

[2017-04-30 09:54] Kangmo commented on #213
Hi ehazlett, I tried the dev version and I hit this issue.
But thanks for the great software.

elk_interlock.1.husqf5e2n4ba@ip-172-32-7-244-master-deeplog    | time="2017-04-30T09:53:26Z" level=info msg="interlock 1.4.0-dev (c610d87)"
elk_interlock.1.husqf5e2n4ba@ip-172-32-7-244-master-deeplog    | time="2017-04-30T09:53:26Z" level=error msg="Missing nginx configuration template: file=/etc/interlo

[2017-05-05 03:01] ehazlett commented on #206
Any update?  Is this working for you?

[2017-05-05 10:02] adpjay commented on #206
It does not appear to be working. We're now getting duplicated entries in the nginx.conf for the context_root and are still not qualified by dns name. The result is that no routing happens and we get a 503 error.

## nginx.conf
[code]
The above was created with the two docker compose files below:

## docker-compose.A1.yml
[code]

## docker-compose.B1.yml
[code]

[2017-05-05 16:58] ehazlett commented on #206
@adpjay can you give me the version from the logs?  It appears to be working with the `ehazlett/interlock:dev` image listed above:

[code]

[2017-05-05 17:24] adpjay commented on #206
I get the same nginx.conf as you when one service is created (the "A1" service, for example). But when another service is added the routes get duplicated and only the first one works.

[2017-05-05 18:25] niroowns commented on #206
@ehazlett - we are using:
INFO[0000] interlock 1.4.0-dev (c610d87)

[2017-05-05 19:42] adpjay commented on #206
To clarify: @niroowns answered for me with the version used in my test

[2017-05-05 20:43] ehazlett commented on #206
Hmm this is what I get when using your compose files.  Two separate contexts with two separate hostnames:

https://gist.github.com/ehazlett/b1178b2a6bc757ac3440d2779a2e1acc

[2017-05-05 21:23] adpjay commented on #206
That looks much better than what we're seeing. I'm building a test harness for this now using our internal docker swarm. Do you have a self-contained way (easier, more portable) way to test this so we can share it?

[2017-05-05 21:34] ehazlett commented on #206
basically i use the example config from `docs/examples/nginx` and then your compose file (replacing the image with nginx).

i want to get an integration suite I just haven't had time yet

[2017-05-05 21:59] ehazlett commented on #206
@adpjay can you post your nginx.conf?  They look similar but they should have different `server_name`.

[2017-05-05 23:24] adpjay commented on #206
@ehazlett I posted the nginx.conf above. there is only one `server_name` but multiple `location /root1` entries within it.

[2017-05-05 23:25] ehazlett commented on #206
Yes this looks like an old version of interlock. Are you sure you are using
the dev tag in your tests?

On May 5, 2017 19:24, "adpjay" <notifications@github.com> wrote:

[2017-05-05 23:53] adpjay commented on #206
I didn't start the one I originally tested against, but the logs had this at the start:
`interlock 1.4.0-dev (c610d87)`

However, I just went through your "Getting Started" guide locally on my mac with the interlock:dev version and the nginx.conf was generated correctly when a new container is added. Could it be that a configuration point on my original interlock:dev test is interfering?

[2017-05-06 00:15] adpjay commented on #206
OK, it looks like the nginx.conf.template file was being used in the failing scenario with the latest code. I'll remove that and try again.

[2017-05-06 01:27] ehazlett commented on #206
Ah ya if you are using a custom template that would need to be updated.  Sorry!

[2017-05-07 13:09] adpjay commented on #206
The custom nginx.conf.template was the culprit. I removed that from the setup and I'm now getting the correct nginx.conf file for B1 and A1.
However, now I have another scenario that is not working: A1 and A2 together. See the two docker-compose files below:
## docker.compose.A1.yml
[code]
## docker.compose.A2.yml
version: '2'
services:
  webA1:
    image: interlock-context_root-test:latest
    la

[2017-05-08 16:29] adpjay commented on #206
Attached is a test on a local swarm reproducing the problem. The test is executed from maven or junit. two of the test pass and two of the tests fail
[test.zip](https://github.com/ehazlett/interlock/files/984168/test.zip)

[2017-05-11 18:32] ehazlett commented on #206
Ok.  Just so I can understand what you are trying to do:  You want multiple context roots to route to different containers under the same hostname?

[2017-05-11 21:40] adpjay commented on #206
Exactly. Yes

[2017-05-12 21:05] ehazlett commented on #206
@adpjay ok -- that's essentially a new feature and will take some more work.  currently only single context roots per host are supported.

[2017-05-15 18:44] adpjay commented on #206
Multiple context roots per host are supported with interlock:1.3.0 and it will work perfectly as long as the context_roots are globally unique.
So, so sum up:
Working with version 1.3.0:
container-a.example.com/root1
container-a.example.com/root2
container-b.example.com/root3

Failing with version 1.3.0:
container-a.example.com/root1
container-b.example.com/root1

Working with version "dev":
conta

[2017-05-17 17:19] ehazlett commented on #206
@adpjay interesting.  it wasn't designed for that but perhaps the template has changed that removed that behavior.  i'll take a look.  thanks!!

[2017-05-22 05:23] ehazlett commented on #206
@kmoens @adpjay i _think_ this is what you are looking for:

[code]

Using run commands:

[code]

[2017-05-22 19:49] adpjay commented on #206
@ehazlett - The test case doesn't match what we're looking for. What you have in your comment will work today without modification. What we need is that plus the ability to use the same context_root for different hosts. The run commands  you listed above all use the same host name. Are you able to run the tests I sent above?

[2017-05-22 20:05] ehazlett commented on #206
@adpjay in that case you should be able to use an alias as mentioned in the docs.  your compose files both have the `webA1` service (I assume you mean webA2) and do not specify the requirement to have the same context roots on different hosts.  In fact, the comment here:

[code]

...says the opposite.  Different context roots under the same hostname.  Sorry, I'm just confused with what you are try

[2017-05-22 20:43] adpjay commented on #206
@ehazlett Yes, I did have a mistake in the test example. The second "webA1" service should be named "webB2".
I pulled the latest ehazlett/interlock:dev and the nginx.conf looks very good!
My test doesn't work anymore because it has a template that references the ContextRoot property of the host, which I guess doesn't exist anymore.
`level=error msg="template: lb:67:19: executing "lb" at <$host.Con

[2017-05-22 20:52] ehazlett commented on #206
Your custom template will not work as I had to rework the internals to support this.  With this work you shouldn't be using a custom template.  Since custom templates are provided as a convenience there is no guarantee they will work.  Only the builtin is ensured to work.

[2017-05-22 20:57] adpjay commented on #206
I looked at your change and I can see how I can fix my custom template. The main reason we have a custom template is to update the log_format to include the $upstream_addr field so that we can do better egress logging in the nginx container. In my test, I have a custom template because I get an error with the generated template because of the "user" directive on line 2.
`2017/05/19 22:35:26 [emerg

[2017-05-22 21:04] ehazlett commented on #206
Cool. Ya effectively you are maintaining a "fork" of the template so you
will need to just "rebase" your template off of the new one. Sounds good!

On May 22, 2017 16:57, "adpjay" <notifications@github.com> wrote:

[2017-05-23 12:03] adpjay commented on #206
I'm sorry, I was overstating how good the nginx.conf file looked (it did look good, but still has some functional issues). I couldn't work around them with my own custom template because we don't have all the data available to us. I think we'll need a code change for this.
Two suggestions:
1. include the host name and domain name in the Name property of the ContextRoot struct (currently, just the

[2017-05-23 14:45] ehazlett commented on #206
@adpjay ok the latest fixes (and latest build `ehazlett/interlock:dev` `2657d5413d8b`) have your tests passing:

[code]

Please try the latest build and see if that solves it.  Thanks for the feedback!

[2017-05-23 15:53] adpjay commented on #206
@ehazlett Thanks! I'm glad to see the test worked out. I tried pulling an updated image but it was reported that my image local image was up-to-date. Should there be a new image on dock hub - https://hub.docker.com/r/ehazlett/interlock/tags/

Do you have any thoughts on including the `[$upstream_addr]` in the log_format directive?

[2017-05-23 16:16] ehazlett commented on #206
@adpjay ah yes sorry -- i was on crappy wifi and my connection dropped during push.  it's up to date now.  thanks!

I've also added the `$upstream_addr` to this build as well.  Thanks!

[2017-05-23 16:50] adpjay commented on #206
@ehazlett Very nice! I added one more test (attached) without using context_root in the same cluster and it works great. Thanks very much!

[test.zip](https://github.com/ehazlett/interlock/files/1022964/test.zip)

[2017-05-23 16:52] ehazlett commented on #206
@adpjay awesome thanks for testing!  i'll cut a release later today with this merged.